[2014-05-10 20:44] bassettsj opened #7 "Bridging Drupal (special) versioning <-> semantic versioning"
Still trying to figure out how to match the proprietary versioning used in Drupal land and the semantic versioning used by other communities. I would like to open this issue to figure out a plan for version planning and keeping the two version numbers in sync.

[2014-05-10 20:52] bassettsj opened #8 "Master for all active development / releases added as built packages"
Would like to use master as our active branch here for any current development release we merge into. This includes all the Gruntfiles, SASS, coffeescript, tests, doc files etc. Then we can create a task that copies the built files to a directory that we commit / tag / release and is consumed by our users. That way we can keep it simple for users _and_ have all the goodness I have been adding to m

[2014-05-10 20:56] bassettsj opened #9 "What do we need to get 7.x-3.0 out the door"
@pirog I want to start getting 7.x-4.x out soonish. What do you think we should tighten up on the 7.x-3.x branch so we can start really getting onto 7.x-4.x ready.

[2014-05-10 21:00] pirog commented on #9
the only things i need to do on the 3.x branch are related to the hotsauce install profile workflow. i think you can still proceed on 4.x with gusto and i can merge the more backend related stuff i still need to do on 3.x as i go.

[2014-05-10 21:02] pirog commented on #9
i would honestly would not worry a lot about 3.x ... i just needed to branch because we need to get hotsauce working but 4.x isn't ready to ship yet so i needed someplace to put commits in front of a stable release but still behind you

[2014-05-10 21:02] bassettsj commented on #9
I don't think you should add any new backend features to 3.x but any minor improvements and fixes are good. Is there anything I should do for 3.x to get it out soon?—
Sent from Mailbox

On Sat, May 10, 2014 at 2:00 PM, Michael Pirog notifications@github.com
wrote:

[2014-05-10 21:03] pirog commented on #9
no new features... mostly just bug fixes to get kalatheme to play nice with the hotsauce installer.

[2014-05-10 21:04] bassettsj commented on #9
That sounds perfect. I am so psyched to work on this project. I think we're going to have a kickass base theme that is easy to use. —
Sent from Mailbox

On Sat, May 10, 2014 at 2:03 PM, Michael Pirog notifications@github.com
wrote:

[2014-05-10 21:06] pirog commented on #9
me too. its going to be really awesome! i can't wait for 4.x and the generator to be ready... that is when things are going to get really spicy.

[2014-05-10 21:07] bassettsj commented on #9
Can we call the generator 'sauce'?—
Sent from Mailbox

On Sat, May 10, 2014 at 2:06 PM, Michael Pirog notifications@github.com
wrote:

[2014-05-11 22:42] andrewmallis commented on #7
semserver: http://semver.org was pointed to a while back in the community. I've worked on some projects pre-kalamuna where we tried implementing it in features namespacing, but it got a bit confusing.

Here is the big debate: https://drupal.org/node/1612910 with lots of meaty nuggets.

A bridge approach could work well, but could also introduce complexity that poses a barrier to participation from

[2014-05-12 16:25] bassettsj opened #11 "New logos and screenshot?"
@pirog Should we add the new brand stuff to kalatheme, looks a little stale now.

[2014-05-12 16:49] pirog commented on #11
@bassettsj your call as long as whatever you do is not too kalamuna specific. It's an open source project and all of that after all :smile:

[2014-05-12 16:52] pirog commented on #9
Is the planck length 1.61619926 × 10-35 meters?

[2014-05-12 16:55] pirog commented on #8
This would be instead of the 4.x branch or are you thinking master is for merging in stuff that happens in both 3.x and 4.x? I want to retire 3.x and move to 4.x as soon as it is ready to go and we have a "stock" kalatheme that we can offer that is outwardly similar to what people would get with the current 3.x so we wont have to be maintaining two separate things for too long.

That said master h

[2014-05-12 16:57] pirog commented on #7
I honestly don't have a strong opinion on this as long as you guys implement something that does not have an additional barrier to entry for anyone. we want to make it easier for people to contribute, not harder.

[2014-05-12 17:37] bassettsj commented on #11
:+1:

[2014-05-14 00:08] agold2 opened #12 "What's new in Kalatheme 4?"
Just learned of the 7.x-4.x branch. Exciting! What's new since Kalatheme 3?

[2014-05-14 00:57] bassettsj commented on #12
We're adding in new AJAX autocomplete and progress bars. Integration with font API. Better accessibility. And much more magic :+1:—
Sent from Mailbox

On Tue, May 13, 2014 at 5:08 PM, Ariel Gold notifications@github.com
wrote:

[2014-05-14 16:56] agold2 commented on #12
Nice!

A few questions that might be separate issues:
- Will these features be added to Kalatheme 3? If not, why?
- Will there be an upgrade path for subthemes of Kalatheme 3 to become subthemes of Kalatheme 4?
- First release of Kalatheme 3 with Bootstrap 3 support was less than 5 months ago. How long do you expect Kalatheme 4 to be maintained before Kalatheme 5 starts?

[2014-05-14 17:35] bassettsj commented on #12
- Some of these features will, but other might be easy to apply backwards, so some will not
- Yes there will be
- We haven't planned the roadmap, but if you want to get involved feel free to voice in.

[2014-05-14 23:44] break9 opened #13 "CSS Menu Selectors by menu id not possible"
The menu ID's are assigned to the "li"'s as a class and written to the browser as class = numeric ID. The problem is that you can't call a class that begins with a number.

the current html generated by the theme is "li class="1133"" you cannot reference the element by referencing .1133 or li.1133 in your css, it is invalid css.

other themes append the word "menu" to each of the ID's so that the

[2014-05-15 21:35] pirog commented on #12
@agold2 in the house!

Definitely stay tuned here... We have a new 4.x branch here but its just a placeholder for now.

Ultimately we are looking to bake in a lot of really cool and advanced tools so that power users can generate their own completely different builds of Kalatheme. The Kalatheme on D.o will be one such version .... so.

I'd also encourage you to keep tabs on https://drupal.org/proj

[2014-05-15 21:53] agold2 commented on #12
@pirog Very excited to see what you're up to in Hot Sauce! Creating a subtheme as part of the install profile looks like a great approach.

@bassettsj   Yes, I think a roadmap would be very valuable. I'm not sure how I could get involved, but let me know. ASU Webspark includes a subtheme of Kalatheme 3, so I'm interested in making sure that ASU knows what's coming so we can devote resources to mak

[2014-05-18 22:03] carsonblack opened #14 "Notice: Trying to get property of non-object in kalatheme_process_page() (line 122 of XXX/sites/all/themes/kalatheme/template.php)."
This notice is showing up on the settings page. This is before I have done anything other than enable and set as default.

[2014-05-18 22:47] pirog commented on #14
I think there is some weirdness with libraries 2.2 and kalatheme. Does it go away if you roll back to 2.1?

[2014-05-19 19:35] pirog commented on #14
This may also be relevant
https://drupal.org/node/2265741

[2014-05-19 21:07] bassettsj commented on #14
Might be worthwhile to look into some error checking on the calls to libraries and th bootswatch API. I will look into a pull request soon

[2014-05-21 01:39] carsonblack opened #15 "Drush command error: Could not download custom library when using simplex"
I got the following error message when I tried to create a new subtheme based on the Bootswatch simplex theme using "drush kalatheme "Camps" --fonts --custom=simplex":
Could not download custom library.

[2014-05-22 01:02] pirog opened #16 "Kalacustomize styles don't work"
this is reported by @wardshark

These don't work any more:
Float Left, Float Right, Clearfix, Jumbotron, Well

[2014-05-22 17:52] parijke opened #17 "Clean install with kalatheme throws Fatal error: Class 'views_plugin_style' not found"
Clean install

Then
drush dl kalatheme
drush kalatheme "mytheme" fails with this error

[2014-05-22 18:06] parijke commented on #17
Manual installed the mentioned requirements, but it still says Fatal error: Class 'views_plugin_style' not found

[2014-05-22 20:43] dariogcode opened #18 "Add sass implementation of 3.x or 4.x"
I'm trying to implement the sass_kaltheme version (https://github.com/kalamuna/sass_kalatheme), however I just noticed this is in version 1.x

Is there possible to support SASS/Compass for 3.x or 4.x version?

Thanks for the good work you're doing.

[2014-05-22 20:45] bassettsj commented on #18
Hey the 4.x has SASS included with build tools. More information to come soon. Stick tight my friend!

[2014-05-22 20:48] dariogcode commented on #18
Oh, that was fast. Thanks!. I didn't know this feature for 4.x. Is this version stable, something we can start using in our next projects?

[2014-05-22 22:12] bassettsj commented on #18
Not quite yet, but you could help check it if you want. It is here under 7.x-4.x branch.

[2014-05-26 18:38] boTux commented on #16
The class added in the theme settings doesn't works either.
On version : Kalatheme 7.x-3.0-rc3+74-dev

[2014-05-28 14:03] labboy0276 opened #19 "Kalatheme + Panopoly 1.3 or greater + Libraries 2.2 = FAIL"
This has been a problem since Panopoly stared tolling out new updates recently.  I know I have talked about it a few times, but here it goes again.  This happens in both Kalatheme 1.4 and 3.x as a FYI.  When upgrading to a version of Panoply greater than 1.2, the 2.2 libraries seems to throw Kalatheme off.  I have gotten a variety of erros like:

Notice: Undefined index: post-load integration file

[2014-05-28 17:46] pirog commented on #19
Submit a pull request and fix that shit!

[2014-05-28 19:14] labboy0276 commented on #19
murica

[2014-05-28 22:50] bassettsj opened #20 "Checkbox alignment issue"
[code]

[2014-06-02 01:46] EcoFin commented on #14
I continue to get the same error (Notice: Trying to get property of non-object in kalatheme_process_page() (line 122 of C:\wamp\www\panopoly-7.16\sites\all\themes\kalatheme\template.php). immediately after setting kalatheme as the default and clicking "save config".

This is on a completely clean new install of panopoly 1.6 running on a local wamp development server under Win 8.1.  I already repor

[2014-06-03 03:23] bassettsj commented on #19
Gasp!

[2014-06-12 21:13] katypool-zz opened #21 "Views content pane display does not grid properly"
The content pane display does not display the grid format. Instead it shows the content all in one column like an unformatted list. http://dev-citc.at.kalamuna.com/staff

[2014-06-13 01:57] pirog commented on #21
Thanks for finding this!

What version? Can you maybe post some screenshots of your views config and the resulting page?

[2014-06-13 18:17] katypool-zz commented on #21
![image](https://cloud.githubusercontent.com/assets/7318014/3273647/a1d3112a-f326-11e3-910d-62f38f1c8ddf.png)

![image](https://cloud.githubusercontent.com/assets/7318014/3273690/f1b3be92-f326-11e3-9ce6-54c5a157608f.png)

![image](https://cloud.githubusercontent.com/assets/7318014/3273656/cb969608-f326-11e3-87e5-b214fdcc58f3.png)

Hope that is helpful!

[2014-06-13 20:03] bassettsj opened #22 "Thoughts on where to go"
Greetings, @carsonblack heard you have a lot thoughts on what could be improved with kalatheme, so I thought I would start an issue about it to get a conversation going.

[2014-06-13 21:22] #20 closed, assigned to nobody

[2014-06-13 21:22] #18 closed, assigned to nobody

[2014-06-13 21:35] bassettsj opened #23 "Remove Libraries API logic in favor of using bootstrap_library module"
Seems like there is a lot going on under the hood to get bootstrap to be recognized by libraries, if the user wants to do that, so why don't we use this contributed module instead. [bootstrap_library](https://drupal.org/project/bootstrap_library)

[2014-06-13 21:36] bassettsj commented on #13
Was fixed a while ago on the 7.x-4.x branch. Thanks for reporting.

[2014-06-13 21:36] #13 closed, assigned to nobody

[2014-06-13 21:46] #7 closed, assigned to nobody

[2014-06-13 22:44] break9 opened #24 "ooops"

[2014-06-13 22:49] break9 commented on #24
wrong github issue queue sorry

[2014-06-13 22:49] #24 closed, assigned to nobody

[2014-06-14 00:10] pirog commented on #13
Does this need to be back ported to 3.x?

[2014-06-14 00:10] bassettsj commented on #13
Yeah. —
Sent from Mailbox

On Fri, Jun 13, 2014 at 5:10 PM, Mike Pirog notifications@github.com
wrote:

[2014-06-14 00:12] pirog commented on #22
RANDOM THOUGHT:
With me focusing on Kalabox i feel there are a lot of unresolved issues in the 3.x branch. It would be great to find someone to help resolve this issues so @bassettsj can focus full throttle on the 4.x sauce.

[2014-06-14 00:16] pirog commented on #21
Yes! Definitely helpful!

Maybe we can look at this 2getha next time you are at KALAMUNA HQ.

and yes i just used 2getha.

[2014-06-16 19:26] bassettsj opened #26 "UX for a11y - dropdown-toggle shouldn't have [role="button"]"
Feedback from User using a screenreader found:

Starting from just above the Explore menu, I pressed Down-Arrow until I reached "toggle submenu for Explore". At that point, pressed spacebar. This is what JAWS spoke:
navigation region
list of 6 items
Link Explore
Toggle submenu for Explore
button menu collapsed
Toggle submenu for Explore
button menu expanded
Toggle submenu for Explore list of 4 ite

[2014-06-16 20:53] bassettsj commented on #26
fixed by pull request #27

[2014-06-16 20:53] #26 closed, assigned to nobody

[2014-06-16 21:22] bassettsj opened #28 "required label should have [aria-hidden="true"] on astrix"
hearing the label astrix in the input label is annoying.

[2014-06-17 22:24] #28 closed, assigned to nobody

[2014-06-17 22:28] bassettsj opened #31 "Views admin labels rendering in incorrect order."
![Screenshot of the views UI with the label rendering before the item in the admin interface](https://cloud.githubusercontent.com/assets/1218420/3307571/7029966c-f66e-11e3-9541-5376ed699518.png)

[code]

[code]

[2014-06-17 22:40] #31 closed, assigned to bassettsj

[2014-06-17 22:42] bassettsj opened #32 "`Drupal.CTools.Modal.show` Not defined."
![screenshot 2014-06-17 15 41 46](https://cloud.githubusercontent.com/assets/1218420/3307733/a4746170-f670-11e3-9422-b218246c0a2a.png)

[2014-06-17 22:57] #32 closed, assigned to bassettsj

[2014-06-17 23:12] bassettsj commented on #21
Seems like it is an issue with views 3.7, updated the module and resolved the issue.

[2014-06-17 23:15] katypool-zz commented on #21
think I figured it out
CSS says div class="gridcol gridborder col-1 col-item-4 col-xs-12 col-sm-12 col-md-4 col-lg-12 "
shd be div class="gridcol gridborder col-1 col-item-4 col-xs-12 col-sm-12 col-md-4 col-lg-4 "
each item is taking up all 12 grid columns on large devices. It works when I make the window "medium" sized!

[2014-06-17 23:23] bassettsj commented on #21
@katypool,

install this module in the meantime: [views_bootstrap](https://drupal.org/project/views_bootstrap)

[2014-06-17 23:41] bassettsj opened #33 "Remove views style plugins: recommend views_bootstrap"
@pirog and I were talking about removing the views grid plugin, it has an issue with views 3.7 (issue #21). This would be a breaking change for people using that view in 3.x, so we need to go over this with the community.

[2014-06-18 02:19] bassettsj opened #34 "Vertical Tabs: No top border"
![vertical tab with overflow being hidden](https://cloud.githubusercontent.com/assets/1218420/3308958/81347b46-f68e-11e3-84e9-5a62c762184c.png)

[code]

[2014-06-18 17:39] bassettsj opened #35 "Features dependency refresh button set to transparent."
[code]

[2014-06-18 19:11] bassettsj opened #36 "Responsive toggle - this shouldn't be an option for a "mobile first" theme"
Adding the settings field to add  the meta tag is silly, this should just be on. Bootstrap has gotten rid of the "responsive" stylesheet, so we should follow their lead here.

[code]

[2014-06-18 19:12] bassettsj commented on #36
@pirog Are you strongly advocating for this option?

[2014-06-18 19:13] pirog commented on #16
let's make sure this gets rolled into 3.x as well!

[2014-06-18 19:14] bassettsj commented on #16
Should I open a pull request there?

[2014-06-18 19:15] pirog commented on #16
That works... also fine with you just cherry picking 2dc79ec from master is that is easier.

[2014-06-18 19:33] bassettsj commented on #16
Sweet, will do that.

[2014-06-18 19:34] bassettsj commented on #33
I think a good upgrade path might be offering a micro module that people can use if they built views from that views plugin and make note of it there.

[2014-06-18 19:35] bassettsj commented on #33
#17 and #21 would be gone if we took this route.

[2014-06-18 19:38] bassettsj opened #37 "Yeoman Generator: Documentation and how to generate subthemes"
The yeoman generator is going to come out soon :rainbow: , so I wanted to add some more notes to the README about this and add Documentation to the the Github wiki > then to D.O if I have to.

[2014-06-18 20:23] bassettsj opened #38 "Render the site search in navbar or site header via theme options"
### Search in navbar

[![Screenshot showing search form inside site navigation](https://cloud.githubusercontent.com/assets/1218420/3319983/c1d23408-f725-11e3-80ad-01867d5986c5.png)](http://codepen.io/bassettsj/pen/HuyfA)
### Search in site header

[![Screenshot showing search form inside site header](https://cloud.githubusercontent.com/assets/1218420/3320245/83d455fc-f728-11e3-9fdf-cb8d08041962.pn

[2014-06-19 00:52] bassettsj opened #40 "Autocomplete Throbber Missing"
![screenshot showing autocomplete widget without the icon-font attached](https://cloud.githubusercontent.com/assets/1218420/3322482/f0d72d28-f74b-11e3-913c-20ec95995217.png)

[2014-06-19 00:53] bassettsj opened #41 "admin/content interface needs grid layout..."
![screenshot of the content admin screen](https://cloud.githubusercontent.com/assets/1218420/3322491/23c67770-f74c-11e3-83ec-12c9c67376f2.png)

[2014-06-19 18:34] #41 closed, assigned to nobody

[2014-06-19 18:39] bassettsj commented on #40
fixed in 6cf6710

[2014-06-19 18:39] #40 closed, assigned to nobody

[2014-06-19 18:45] bassettsj opened #42 "Not font icon throbber fallback.."
For those old browsers or the kalathemes that don't want font icons :frowning:

Maybe JS can check and see, and if not add in a `<span class="kt-throbber" aria-hidden="true"></span>` and `<span class="kt-throbber kt-throbber-throbbing" aria-hidden="true"></span>`

[2014-06-19 22:13] bassettsj commented on #19
@pirog This one is critically important. I am not sure how to best tackle this one. Want to try powowing on this one to get 3.x & 4.x stable(r)?

[2014-06-19 22:14] pirog commented on #19
@bassettsj agreed. let me try to plow through some stuff i have to do ASAP for Kalabox and if i have time we can give it a look see.

If not, i wont be in tomorrow but i think @reynoldsalec or @labboy0276 can help.

[2014-06-20 00:42] #19 closed, assigned to nobody

[2014-06-20 01:21] labboy0276 commented on #14
After the commit I made for Issue#19 this will go away if you re-save the subtheme with the patch

it seems it is getting mixed up still in seeing that sites/all/libraries is there, i will look at the function in util.inc and see if a tweak can be made

[2014-06-20 02:01] bassettsj commented on #14
Let's keep this issue open for sure. I want to make sure it gets fixed soon.

[2014-06-20 02:02] labboy0276 commented on #14
I am working on it now

[2014-06-20 02:06] bassettsj commented on #14
You don't have to solve it but I love that you're working on it. Submit the pull request against drupalprojects/kalatheme, master branch.

[2014-06-20 02:07] pirog commented on #14
I also love that you are!

GO TEAM!

[2014-06-20 02:12] labboy0276 commented on #14
got it, putting in pull request

[2014-06-20 12:55] labboy0276 commented on #14
Hey Steven, seems you marked this fixed in #43, can you close out this issue then as it seems resolved

[2014-06-20 14:33] labboy0276 commented on #15
This has been fixed with all the bootswatch based themes

[2014-06-20 18:57] bassettsj commented on #15
@carsonblack try out 7.x-4.x and see if your issue has been resolved. I am going to close this for now though :+1:

[2014-06-20 18:57] #15 closed, assigned to nobody

[2014-06-20 18:58] bassettsj commented on #36
@carsonblack Do you have an opinion here? I just think it is silly in this day of age to have a non-responsive theme at all...

[2014-06-20 18:59] bassettsj commented on #23
This is a past 4.x question but something worth thinking about.

[2014-06-20 19:06] carsonblack commented on #36
My expectation that this is going to be responsive out of the box and is one of the main reasons why I would even use this in the first place. The settings field seems like cruft.

[2014-06-20 19:07] carsonblack commented on #15
Will do after I'm done eatin my sammich. ;-)

[2014-06-20 19:08] bassettsj commented on #36
It is gone then in 7.x-4.x :+1:

[2014-06-20 19:43] reynoldsalec opened #45 "font-awesome icons updated"

[2014-06-20 19:46] #14 closed, assigned to nobody

[2014-06-20 23:20] bassettsj commented on #15
:+1;—
Sent from Mailbox

On Fri, Jun 20, 2014 at 12:07 PM, carsonblack notifications@github.com
wrote:

[2014-06-20 23:47] pirog commented on #36
That toggle doesn't change whether the theme is responsive or not. It just
hides the responsive toggling choices in kalacustomize which might be a
nice option.

On Friday, June 20, 2014, Steven Bassett notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-06-20 23:49] bassettsj commented on #36
@pirog  it also outputs that meta tag :point_up:  that tells the browser to make the page match the viewport of the browser.

[2014-06-21 01:15] #16 closed, assigned to nobody

[2014-06-21 13:24] labboy0276 opened #46 "Kalacustomize tags not being applied to panel"
With all the new tweaks, I noticed on 2 of my test sites that use a custom library that the kalacustomize style is not being appended to the panel now.

Screenshot 1 shows the site without panopoly upgrades (they are on 1.2) and rc2 of kalatheme
![kalacustom 1](https://cloud.githubusercontent.com/assets/5560907/3348885/654202bc-f947-11e3-8fe4-529736fffd12.png)

Screenshot 2 is on Panopoly 1.6 + la

[2014-06-22 02:26] bassettsj opened #48 "Progress bar percentage floats to the right"
![screenshot of the progresspage and the percentage floating all the way to the right](https://cloud.githubusercontent.com/assets/1218420/3350488/9214b83a-f9b4-11e3-9292-d38363d8d5ba.png)

[2014-06-22 16:28] labboy0276 commented on #46
There were 2 typos in the .inc

And no i did not write this @pirog

Putting in pull request now

[2014-06-23 20:50] #48 closed, assigned to nobody

[2014-06-23 20:57] #46 closed, assigned to nobody

[2014-06-24 00:09] bassettsj opened #52 "aria-required / required shouldn't be added if it is a wyswyg form."

[2014-06-24 00:22] #52 closed, assigned to bassettsj

[2014-06-24 01:22] pirog opened #54 "Make sure d.o project's git repo is up to date"
Experiencing some issues with hubdrop so until these are sorted out please make sure you are also pushing your new commits over to the d.o repo as well.

@jonpugh, any issues you know of on your end?

@reynoldsalec, you might want to check to see if this is happening on hotsauce as well?

[2014-06-24 16:10] reynoldsalec commented on #54
@pirog looks like the same issue on hotsauce; last commit to the d.o repo is from May.

[2014-06-24 19:02] pirog commented on #54
Maybe @jonpugh can help with these deeper mysteries of the universe.

@reynoldsalec in the meantime it might be nice to put together a list of issues the completion of which will produce a 3.x release.... possibly even a stable 1.0.

[2014-06-24 19:49] bassettsj commented on #54
@pirog Are we really loosing commits here?

[2014-06-24 19:52] pirog commented on #54
@bassettsj i dont know what you mean by losing but it appears hubdrop hasnt sent anything to d.o in awhile. Just setting a new remote for d.o and pushing code manually should get us back N*SYNC until @jonpugh can figure things out.

[2014-06-24 19:55] bassettsj commented on #54
Why don't we have it as part of the build control step for now? That would be easy.

[2014-06-24 19:56] bassettsj commented on #54
[code]

[2014-06-24 19:56] bassettsj commented on #54
It would be easy to add a couple more targets for d.o so we can push up the builds easily.

[2014-06-24 20:00] hubdrop-user commented on #54
Jenkins restarted, folks. I'm sorry about the downtime.  Please either
reopen this issue and assign to be or yell at me through any other channels
and I will restart :)

Someday I will add supervisor to make sure Jenkins never stops running!
On Jun 24, 2014 3:56 PM, "Steven Bassett" notifications@github.com wrote:

[2014-06-24 20:01] bassettsj commented on #54
@hubdrop-user Thanks for the message. Will close this issue then :+1:

[2014-06-24 20:02] bassettsj opened #55 "D.O release 4.x?"
@pirog Can you add a 4.x dev release to kalatheme?

[2014-06-24 20:03] pirog commented on #54
thanks @hubdrop-user

@bassettsj until Jenkins never stops running maybe we should consider this as part of the build option if the webhook fails?

your call.

[2014-06-24 20:05] pirog commented on #55
https://www.drupal.org/node/2264065

[2014-06-24 20:12] pirog commented on #36
@bassettsj weird... it should definitely not do that.

hiding the toggling options make sense but the theme should just be responsive, that shouldn't be a choice because duh.

[2014-06-24 20:13] bassettsj commented on #36
Cool so we all agree.

[2014-06-24 20:14] bassettsj commented on #55
:thumbsup:

[2014-06-24 20:14] #55 closed, assigned to nobody

[2014-06-24 20:16] bassettsj commented on #54
It is an easy change if needed in the future, not worried about it. We should also have a few forks out there anyways. I am going to try to encourage all development be done through a pull-request workflow so each contributor should have a fork on their profile and submit features/fixes with a pull request with travis magic going on hopefully :)

[2014-06-24 20:17] pirog commented on #36
Yes although looking at the code for 3.x it doesnt look like adding or removing this meta content is dependent on the responsive toggle setting at all.

[code]

[2014-06-24 20:21] pirog commented on #54
If you can get that happening it would be a great model/template for the rest of our dev workflows.

+1,000,000

[2014-06-24 21:02] pirog commented on #45
@reynoldsalec definitely need to get that rebel alliance icon in there.

[2014-06-24 21:11] pirog commented on #23
If we can get [bootstrap_library](https://drupal.org/project/bootstrap_library) to do what we need it to do for Kalatheme then we should def make the switch at some point. People who don't want to deal with installing dependencies can look to HotSauce! as their one-stop-shop.

[2014-06-24 21:14] pirog opened #56 "3.x release"
put together a list of issues that can constitute a 3.x release and then release that BAMF when its G2G4LYF.

[2014-06-24 21:15] pirog commented on #15
Seems to work for me!

[2014-06-24 22:14] bassettsj opened #57 "`chmod()` not permitted in `kalatheme_lib_dir()`"
[code]

[2014-06-24 22:23] swiders2 opened #58 "Tooltips"
Brand new to Kalatheme, and after creating a subtheme via the admin panel tool tips aren't working.  Anybody help a brother out?

[2014-06-24 22:39] bassettsj commented on #58
Sure @swiders2, but this is more of a bootstrap support request than a kalatheme issue, you need to "opt in" to the tooltip and popover data-api to get them going. It is easy to do. Add this to your subtheme's JS and it should init tooltips.

[code]

[2014-06-24 22:42] #58 closed, assigned to nobody

[2014-06-24 22:48] bassettsj commented on #23
This is long range, not even going to experiment with it at the moment, but something to think about.

[2014-06-24 23:13] swiders2 commented on #58
thanks!  looks like there are no js folders in my subtheme?  would filename am i looking for?

[2014-06-24 23:24] bassettsj commented on #58
You can add the file through the subtheme info file. [Learn more on Drupal.org](https://drupal.org/node/171205)

[2014-06-24 23:33] swiders2 commented on #58
awesome!  got it thanks.

[2014-06-25 07:56] MetaBureau opened #60 "Drush error"
Kalatheme 7.x-3.0-rc3

"drush cc all" produces:

Drush command terminated abnormally due to an unrecoverable error.   [error]
Error: Call to undefined function theme_get_setting() in
/data/disk/o1/static/panopoly-7.x-1.6/sites/all/themes/kalatheme/includes/utils.inc,
line 304

[2014-06-25 16:37] bassettsj commented on #60
Thanks for reporting that, please try updating to the 7.x-3.x-dev release. It has a fix for that issue. If that works go ahead and close this issue.

[2014-06-25 16:39] #12 closed, assigned to nobody

[2014-06-25 16:39] #22 closed, assigned to nobody

[2014-06-25 19:25] bassettsj opened #62 "Add footer content settings field"
Would help people with the footer area of their site which is usually just static. Adding the token fucntionality is smart. Credit to @andrewmallis

---
### Footer Message

<text area>
<help text>: Message to display in the footer. Supports basic HTML and tokens (e.g. [current-date:custom:Y] to display the current year).

[2014-06-25 19:31] pirog commented on #60
@bassettsj we should get a roadmap or milestone schedule for a 3.x-RC4 or 3.x-1.0 :)

[2014-06-25 19:36] bassettsj commented on #60
3.0 is what we should aim for. I think we should do a round of testing on the current 3.0 branch and see what we can get taken care of to get this bad boy out the door. I think the only changes will be fixes, documentation and code quality. I would like to see the php files run thought PHP code sniffer to get the Drupal conventions taken care of. I also want to run the markup a bit through the HTM

[2014-06-25 19:38] pirog commented on #60
if you are shooting for 3.x-1.0 then all that is what you should do

[2014-06-26 04:09] MetaBureau commented on #60
not evident in dev thanks :)

[2014-06-26 04:10] #60 closed, assigned to nobody

[2014-06-26 04:27] MetaBureau opened #63 "Error in dev (June 24) after updating from 7.x-3.0-rc3"
Fatal error: Call to undefined function kalatheme_lib_dir() in /data/disk/o1/static/panopoly-7.x-1.6/sites/all/themes/kalatheme/includes/utils.inc on line 337

[2014-06-26 08:00] MetaBureau opened #64 "Responsive Toggling not working (7.x-3.0-rc3)"
Latest stable Panels, testing using Desktop browser screen resize, Safari UA switching and with iPhone ...resposible toggling seems to have no effect when seeking to hide panel (Search API facet) from mobile.

[2014-06-26 18:08] bassettsj commented on #54
@hubdrop-user a minor issue, but still matters, github keeps setting the "default branch" head from master to 7.x-3.x after I set it back, it only matters because I am adding public documentation to the master branch and the github repo is supposed to the development center so having the source in master be up front and center is important, do you think there is a way to keep github on master?

[2014-06-26 22:26] bassettsj opened #65 "Bootstrap 3.2 update"
Update the bootstrap CDN versions to:
`//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css`

[2014-06-26 22:27] bassettsj opened #66 "Breadcrumb theme"
Even though we don't use it much, we should have a theme hook to output the bootstrap breadcrumb component.

[2014-06-26 22:29] bassettsj opened #67 "Responsive embed for media module"
Bootstrap has a new 'responsive embed' so we might want to take advantage of that for media field output, look into this soon.

[2014-06-27 00:04] bassettsj opened #68 "Accessible close links"
[code]

[2014-06-27 01:51] andrewmallis commented on #67
http://getbootstrap.com/components/#responsive-embed
this is cool.

`.embed-responsive-4by3` or  `.embed-responsive-16by9`
is required. Would be nice to just know the aspect ratio somehow.

[2014-06-27 02:28] Krlos740 commented on #63
I'm having the same error but in line 304

[2014-06-27 17:53] pirog commented on #64
@bassettsj probably have to do a similar fix here to what we did when fixing the style plugin

[2014-06-27 17:56] pirog commented on #63
ick!

I'll look into this today!

[2014-06-27 19:06] dariogcode commented on #57
I'm getting same error in Pantheon enviroments.

[2014-06-27 19:09] dariogcode opened #72 "Error generating subtheme in 4.x (Windows)"
I received the following error while trying to create a subtheme using 4.x version:

Warning: include_once(D:\www\client\project\code/D:\www\client\project\code\sites\all\themes\kalatheme\includes/../kalatheme.authorize.inc): failed to open stream: Invalid argument in _batch_finished() (line 461 of D:\www\client\project\code\includes\batch.inc).
Warning: include_once(): Failed opening 'D:\www\clie

[2014-06-27 20:15] labboy0276 opened #73 "kalatheme_lib_dir() rage!"
So this is happening now on Pantheon only

Warning: mkdir(): Permission denied in kalatheme_lib_dir() (line 345 of /srv/bindings/88bc69aeba2d4570a5229486c6e0d244/code/profiles/hotsauce/themes/kalatheme/includes/utils.inc)

On Install, also it gives a chmod error from the code I wrote before.

We will need to see what the right syntax is or how to make the directory and change the perms in somethin

[2014-06-28 00:19] katypool-zz commented on #73
Getting the same errors on pantheon:

Warning: mkdir(): Permission denied in kalatheme_lib_dir() (line 345 of /srv/bindings/98feb60b74854cf88cd32ef8b6cc8fb3/code/sites/all/themes/kalatheme/includes/utils.inc).
Warning: chmod(): No such file or directory in kalatheme_lib_dir() (line 346 of /srv/bindings/98feb60b74854cf88cd32ef8b6cc8fb3/code/sites/all/themes/kalatheme/includes/utils.inc).

[2014-06-28 00:22] pirog commented on #73
If you switch to SFTP mode on pantheon do these go away?

On Fri, Jun 27, 2014 at 5:19 PM, katypool notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-06-28 00:24] katypool-zz commented on #73
Yes they do

[2014-06-28 17:59] labboy0276 commented on #73
@pirog @katypool it seems that we be using not the latest version of kalatheme, the code that was there (that this error generates) is now gone.  As seen here:

https://github.com/drupalprojects/kalatheme/blob/7.x-3.x/includes/utils.inc

Even if we dont win with this codez, we can look into http://drupalcontrib.org/api/drupal/drupal%21includes%21file.inc/function/file_prepare_directory/7

[2014-06-28 18:51] pirog commented on #73
pretty sure file_prepare_directory is what the libraries module uses so
that might be the ticket

On Sat, Jun 28, 2014 at 10:59 AM, John Ouellet notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-06-28 18:52] pirog commented on #73
we could also check if libraries is installed and just use the directory
create function they use

On Sat, Jun 28, 2014 at 11:51 AM, Mike Pirog mike@kalamuna.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-06-28 18:53] labboy0276 commented on #73
you are correct, i looked at most contrib modules and that api function is used a few places.

[2014-06-28 20:01] #9 closed, assigned to nobody

[2014-06-28 22:59] pirog commented on #63
are you guys using the latest dev?

[2014-06-28 23:16] pirog commented on #63
Ok, i see this now. Should be fixed. Please reopen if not!

[2014-06-28 23:27] #63 closed, assigned to nobody

[2014-06-28 23:30] pirog commented on #73
@labboy0276 if GIT mode is enabled on pantheon you are just not going to have permission to create this dir on pantheon (and likely other things as well)... there may be an authorize.php implementation that solves the problem.

I noticed that panopoly spins up with SFTP mode on by default instead of git, probably so it can install apps, so that is worth looking into also.

[2014-06-28 23:31] pirog commented on #57
closing this in favor of https://github.com/drupalprojects/kalatheme/issues/73

[2014-06-28 23:31] #57 closed, assigned to nobody

[2014-06-28 23:49] pirog opened #74 "Saving a page with the IPE breaks responsive grid"
When you save a page with the IPE it breaks the responsive grid until you reload the page. Guessing some class injection is happening here that we need to isolate.

This happens in latest 3.x but may happen in 4.x as well.

[2014-06-29 00:10] pirog commented on #64
This should work now in latest dev. Please reopen if you have more problems!

[2014-06-29 00:10] #64 closed, assigned to nobody

[2014-06-29 00:12] pirog commented on #17
@parijke does this happen on latest 3.x dev?

[2014-06-29 00:16] pirog commented on #74
I think this is resolved with  https://github.com/drupalprojects/kalatheme/commit/8623e130ba80f9a8a52349093d7524054d949f55 as well

[2014-06-29 00:16] #74 closed, assigned to nobody

[2014-06-29 00:22] pirog commented on #17
@katypool can you work with @parijke to provide steps on how to replicate this error on the 3.x branch? If the error exists on 3.x as well open up a new ticket for this issue for 3.x and set the milestone for 7.x-3.0 release.

[2014-06-29 00:24] pirog commented on #73
@labboy0276 there is an implementation in Kalatheme that uses the local file transfer protocol similar to teh apps module implementation that is probably your ticket to ride.

[2014-06-29 00:30] pirog commented on #65
@bassettsj im going through issues right now trying to set up a milestone for 3.0 release. There are some issues that have overlap ie maybe relevant to both 3.x and 4.x. We should probably have separate issues and just tag with major version? Does that sounds good or do you have a better suggestion?

[2014-06-29 00:51] pirog opened #76 "Labels funky in views admin 3.x"
![screen shot 2014-06-28 at 5 50 44 pm](https://cloud.githubusercontent.com/assets/713424/3422271/88292310-ff27-11e3-9806-27b787e02018.png)

[2014-06-29 00:52] pirog commented on #76
Float seems to be weird

[2014-06-29 01:01] pirog commented on #56
there is a 3.x milestone so closing this

[2014-06-29 01:01] #56 closed, assigned to nobody

[2014-06-29 01:40] pirog commented on #21
@katypool can you try this out on the latest dev version of 3.x and see if it resolves your issue? If not please reopen!

[2014-06-29 01:43] pirog commented on #21
@bassettsj is this issue supposed to be for 4.x or 3.x? I am going to say it is 3.x since we are getting rid of this in 4.x?

Going to make the switch but please revert or open new issue if this is not accurate.

[2014-06-29 01:46] pirog opened #78 "Update font awesome and bootstrap for 3.0 release"
We want to upgrade to the latest bootstrap and font awesome for 3.x.

You might want to look at the following issues from 4.x to help.
https://github.com/drupalprojects/kalatheme/issues/65
https://github.com/drupalprojects/kalatheme/issues/45

[2014-06-29 01:50] pirog commented on #33
@bassettsj i've "fixed" at least #21 here in 3.x. And #17 doesnt seem to manifest with Views 3.8. Might want to check to see if this is the same in 4.x

Still think it might be better to move to a module in 4.x since it will have hotsauce behind it for dependency installation but if there are no issues with the plugin anymore we could still ship and wrap in some sort of module_exists conditional.

[2014-06-29 01:54] pirog commented on #17
@parijke @katypool this seems to not happen to me using views 3.8

[2014-06-29 01:55] pirog commented on #66
+1

[2014-06-29 06:08] MetaBureau opened #79 "7.x-3.0-rc3+84-dev - Warning: chmod(): Operation not permitted"
Warning: chmod(): Operation not permitted in kalatheme_lib_dir() (line 348 of /data/disk/o1/static/panopoly-7.x-1.6/sites/all/themes/kalatheme/includes/utils.inc).

[2014-06-29 06:09] pirog commented on #79
Best bet here is to just create sites/all/libraries and chmod it to 777

On Saturday, June 28, 2014, StewartMilne notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-06-29 06:13] MetaBureau commented on #64
Thanks - tested okay :)

[2014-06-29 06:17] MetaBureau commented on #79
Is this related to sub-theme generation? My opinion is that sub-theme tasks are easily achieved with drush or manually ... so if up to me wouldn't be worrying about providing a UI for this (adds risk, distraction from more important things).

[2014-06-29 06:25] pirog commented on #79
Not necessarily although it can be.

UI is important. One of the goals of kalatheme is ease of use for novices.
http://www.kalamuna.com/news/power-people
May give a better sense of where we are coming from

On Saturday, June 28, 2014, StewartMilne notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-06-29 06:28] MetaBureau commented on #79
Yep ... just been reading up on it all now. Testing out KalaBox ... Very Nice :)

[2014-06-29 06:31] pirog commented on #79
That said... There is still work to be done on both! Adventures in open
source :) sigh

On Saturday, June 28, 2014, StewartMilne notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-06-29 07:33] parijke commented on #17
Reproduced my own steps with latest dev. It does not happen anymore.
Steps I did:
clean drupal 7.28
drush dl libraries-7,x-2.1 panels views ctools jquery_update panopoly_theme
drush en panels views libraries jquery_update
in admin interface set jquery on 1.7
enabled kalatheme and set to default

drush kalatheme "My Awesome Theme" --fonts

Command kalatheme needs the following module(s) enabled to

[2014-06-29 12:56] jpstrikesback commented on #66
jes +1

[2014-06-29 14:14] ashtronaut opened #80 "7.x-3.0-rc3+74-dev Can't disable any user role permissions"
When Kalatheme or a custom sub-theme is set as my administration theme, I cannot disable any permissions on the admin/people/permissions page.  I can however, enable the permissions with no problems

This is exactly what is happening. . .
Once the permission is unchecked, I push the "Save Permissions" button and the page reloads and reads "The changes have been saved.", but the permission is still

[2014-06-29 16:33] pirog commented on #80
Very interesting. I've actually experienced this before but never thought it was kalatheme. Let me look into it and ill let you know.

[2014-06-29 16:36] pirog commented on #80
Yup. This definitely seems to be happening!

[2014-06-29 17:07] pirog commented on #73
Ok. So

[code]

The only point of this function is return the "location" of the libraries directory. Which may not exist yet if the user hasn't installed the libraries dir yet. It shouldn't try to create or change permissions on that dir at this point. It just wants to know where it is so another function can check if it is writable as part of a larger check to determine whether a user can upload

[2014-06-29 17:08] pirog commented on #73
Aka this really should be something like this

[code]

[2014-06-29 18:37] pirog opened #81 "Update Kalatheme documentation on D.o"
This documentation is out of date and needs to be brought up to speed to reflect the latest 3.x. Please keep in mind that 4.x documentation will be happening at some point as well.

Here are the current docs
https://www.drupal.org/node/1949678

@katypool, do you think this is something you would be interested in updating?

[2014-06-29 19:03] ashtronaut commented on #80
In my research of the problem I came across the following post in the Panopoly Issues queue.  Maybe it will help. . . .

https://www.drupal.org/node/2272977

Is it possible that either Kalatheme handles checkboxes the same way as the Radix base-theme?  Maybe an issue with Bootstrap?

[2014-06-29 19:16] pirog commented on #80
It's likely this is the same. Radix and Kalatheme borrow a decent amount of stuff from one another.

[2014-06-29 19:27] pirog commented on #81
You may want to also consider posting the docs on d.o in the wiki here on github as well.

[2014-06-29 19:29] ashtronaut commented on #80
Here is a link to the patches for Radix.

https://www.drupal.org/node/2206229

Hope it helps.  I would try to help, but my skills are not quite up to par. . . .

[2014-06-29 19:32] pirog commented on #73
OK. So, i've added a check to see if you are pantheon so the user is prompted to switch their connection mode to SFTP.

As far as i understand things GIT mode will not currently allow us to create subthemes or install libraries on pantheon because drupal does not support a SFTP filetransfer protocol. this is the same result when you try to install a module or theme. @joshkoenig may have more insig

[2014-06-29 19:32] #73 closed, assigned to pirog

[2014-06-29 19:41] pirog commented on #17
Awesome! I think the libraries issues is resolved in the latest dev now as well.

[2014-06-29 19:42] #17 closed, assigned to nobody

[2014-06-29 19:45] #21 closed, assigned to bassettsj

[2014-06-29 19:46] pirog commented on #80
@andrewmallis i think this is what was responsible for our inability to change perms on BKS

[2014-06-29 20:53] pirog commented on #80
@ashtronaut try the latest dev and reopen if that does not resolve your issue

[2014-06-29 20:53] #80 closed, assigned to pirog

[2014-06-29 21:00] pirog opened #85 "Make sure relevant fixes from 3.0 are in master/4.x"
There are some things we are going to want to move forward to master/4.x. This is a good list of differences that we might want to include.
https://github.com/drupalprojects/kalatheme/compare/master...7.x-3.x

[2014-06-29 21:03] pirog commented on #79
@MetaBureau this should be in the latest dev of 3.x see:
https://github.com/drupalprojects/kalatheme/issues/73

[2014-06-29 21:03] #79 closed, assigned to nobody

[2014-06-29 21:05] pirog commented on #72
@tilon does this fail in 3.x as well?

[2014-06-29 21:09] pirog commented on #72
I've added this into 3.x, @tilon can you test it in 3.x and if it works can @bassettsj make sure it is in 4.x

[2014-06-29 21:27] ashtronaut commented on #80
pulled down latest dev, disabled kalatheme & sub-theme, uploaded & extracted latest dev & re-enabled  Still showing same behavior as before.  Do I need to build a new sub-theme?

[2014-06-29 21:28] pirog commented on #80
where are you "pulling" it down from?

On Sun, Jun 29, 2014 at 2:27 PM, Ash notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-06-29 21:35] ashtronaut commented on #80
http://ftp.drupal.org/files/projects/kalatheme-7.x-3.x-dev.tar.gz

had today's date so I figured it was all good

[2014-06-29 21:37] pirog commented on #80
I'm guessing its actually from really early morning. Will probably need to wait until they
 generate it again or just pull down the latest code from github or d.o with git.

[2014-06-29 21:40] pirog commented on #80
Actually that should have the commit in it. Maybe you need a cache clear?

[2014-06-29 21:48] ashtronaut commented on #80
Downloaded from git and it worked like a charm!  Thank you sir!

[2014-06-30 00:15] dariogcode commented on #72
@pirog I will try 3.x in Windows tomorrow and let you know.

[2014-06-30 00:21] MetaBureau commented on #73
I'm using Barracuda and had that issue but it now seems resolved.

[2014-06-30 00:22] MetaBureau commented on #79
I'm using Barracuda and had that issue but it now seems resolved - no error - but the sub-theme is not generated. I haven't changed permissions on sites/all/libraries as Barracuda manages permissions.

[2014-06-30 03:22] katypool-zz commented on #81
I can definitely work on this!

[2014-06-30 13:56] dariogcode commented on #72
@pirog, @bassettsj I can confirm Kalatheme 7.x-3.0-rc3+92-dev doesn't have this issue, subtheme is generated without errors.

[2014-06-30 17:04] labboy0276 commented on #78
@pirog I updated the CDN calls to the latest version on each.  It seems 4.x uses a who different approach with font-awesome.  Did you want that functionality in 3.x?

[2014-06-30 17:20] pirog commented on #78
Do you mean 4.1x? We are already using 4.x for FA.

[2014-06-30 17:22] labboy0276 commented on #78
oh no i mean kalatheme 4.x

https://github.com/drupalprojects/kalatheme/pull/61

that whole grunt function

[2014-06-30 17:25] pirog commented on #78
Got it. No i just wanted to update to the latest versions. Do they seem to cause any errors?

[2014-06-30 17:26] labboy0276 commented on #78
I tested locally with no problems, I will test other places and see, but it should be ok

[2014-06-30 17:27] pirog commented on #78
yeah do a quick pass and then let me know. i would create a new subtheme
with FA and see if the thumbs up icon shows up in the status message that
says "looking good" or some such.

On Mon, Jun 30, 2014 at 10:26 AM, John Ouellet notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-06-30 17:29] pirog commented on #72
@tilon awesome!

@bassettsj let's def make sure this gets in 4.x then!

[2014-06-30 17:45] pirog commented on #81
Awesome!

I would just go through the current docs page by page and change them to reflect how the latest 3.x dev works. High level goals are for the copy to be light and humorous but informative, good images to show what is going down and as concise as possible. This will be a great opportunity for you to really explore the dark depths of Kalatheme as well.

Ping me here or IRL if you need any he

[2014-06-30 17:45] pirog commented on #81
Also i totally just used IRL. Win.

[2014-06-30 20:56] labboy0276 opened #88 "Fatal error: Call to undefined function _kalatheme_font_icon() in /var/www/john-test/sites/all/themes/kalatheme/includes/fapi.inc on line 338"
I am getting this error now on 3.x

 Fatal error: Call to undefined function _kalatheme_font_icon() in /var/www/john-test/sites/all/themes/kalatheme/includes/fapi.inc on line 338

Was this function added by mistake or removed by mistake?

After subtheme install, it errors out the whole site

[2014-06-30 21:12] labboy0276 commented on #88
disregard, my bad

[2014-06-30 21:12] #88 closed, assigned to nobody

[2014-06-30 21:23] labboy0276 commented on #78
All set I generated a site locally and one pantheon, tested the new font awesome 4.1 incon <i class="fa fa-bomb"></i> and it worked

[2014-07-01 00:59] parijke opened #89 "Hastings layout not available after fresh install of Kalatheme subtheme?"
I see a couple of issues in drupal.org discussing the overriding of the panopoly layouts. One of them speaks of the hastings layout.

In my fresh installation of kalatheme subtheme, I can't see any Hastings layout, so I am wondering if I missed a step?

[2014-07-01 01:00] pirog commented on #89
We removed those layouts in 3.x :(

On Mon, Jun 30, 2014 at 5:59 PM, parijke notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-01 01:05] parijke opened #90 "full-width caroussel like slideshow"
Hi all,

Is this the place for support questions as well?

If a am using a panel for almost anything in content, how do I define if the panel header for example should be full width of boxed?

[2014-07-01 01:23] parijke commented on #89
Aha okee, I am not missing anything.... btw, why?

[2014-07-01 17:09] pirog commented on #89
Thought they were excessive. It's not great to load layouts in a theme. We also were planning to add in a easy responsive layout builder powered by the IPE but that has gotten sidelined for a bit.

[2014-07-01 17:09] #89 closed, assigned to nobody

[2014-07-01 17:42] katypool-zz commented on #21
With views_boostrap installed, the Boostrap Grid format works great!

[2014-07-01 18:20] #78 closed, assigned to labboy0276

[2014-07-01 18:35] bassettsj opened #92 "Admin checkbox alignment"
![screenshot of misaligned checkbox](https://cloud.githubusercontent.com/assets/1218420/3447513/63d8b9f2-014e-11e4-8644-f7e8db11518c.png)

The panopoly admin theme has changed, so we need to override it.

[2014-07-01 21:16] #76 closed, assigned to nobody

[2014-07-01 23:12] katypool-zz commented on #81
@pirog Soooo I've gone through all the documentation on d.o. and could use some guidance on what needs to be updated. Was the current documentation written for the 1.x branch?

[2014-07-01 23:23] pirog commented on #85
Submitted PR's for everything in list about except:
1. #63 #64 #46 are already there
2. #76 should be handled in SCSS by @bassettsj
3. #78 should be in already

Only real actionable thing here @bassettsj  is to make sure #76 gets in wherever its supposed. After that i think we can merge the PRs and then close this out.

[2014-07-01 23:25] pirog commented on #72
@bassettsj going to assume you merge the PR for this with master. reopen if needed.
@tilon will be in latest 4.x when its rebuilt from master.

[2014-07-01 23:25] #72 closed, assigned to nobody

[2014-07-01 23:31] pirog commented on #81
@katypool i am not EXACTLY sure what needs to be updated :)

What i would do is systematically go through the current docs and try all the things out. For sections where the docs dont reflect what things look like in 3.x-dev just ping me here and i'll tell you where to look. For example i am 100% sure that the "subtheme generator" exists at a different location now.

Alternately, if you want we ca

[2014-07-01 23:33] bassettsj commented on #81
- [ ] Remove references to the kalatheme_sass repo
- [ ] Add documentation on how to use kalatheme without using `libraries`
- [ ] Documentation for how to use the master source

[2014-07-01 23:36] pirog commented on #81
Good additions! might want to leave some of the more complicated docs ie building from master source to you @bassettsj unless @katypool is up for a challenge of course :)

[2014-07-01 23:37] #92 closed, assigned to nobody

[2014-07-01 23:41] katypool-zz commented on #81
all right, thanks guys! For now I'll look out for the kalatheme_sass references since that seems pretty easy to tackle. And then @pirog if we could meet for a few mins Thursday that would be helpful

[2014-07-01 23:42] pirog commented on #81
Let's do that! I'll send you an invite!

On Tue, Jul 1, 2014 at 4:41 PM, katypool notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-01 23:42] bassettsj commented on #81
@katypool I would first make the changes in the [README](https://github.com/drupalprojects/kalatheme/blob/master/README.md) and the [CONTRIBTUE](https://github.com/drupalprojects/kalatheme/blob/master/CONTRIBUTING.md) first. If you fork the repo, submit the changes there. Then we can use that as html for D.O documentation.

[2014-07-01 23:43] bassettsj commented on #81
@pirog Send me an invite too porfavor!

[2014-07-01 23:45] pirog commented on #81
SENT! Didn't want to bug you with the meeting but def happy to have you
there!

On Tue, Jul 1, 2014 at 4:43 PM, Steven Bassett notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-01 23:58] #8 closed, assigned to nobody

[2014-07-01 23:58] #11 closed, assigned to nobody

[2014-07-01 23:58] #45 closed, assigned to nobody

[2014-07-01 23:58] #65 closed, assigned to nobody

[2014-07-02 01:05] bassettsj opened #102 "PHP checkstyle for kalatheme"
I want to fix all this so we can check for future pull requests.

[code]

[2014-07-02 01:06] pirog commented on #102
+1 maybe we can have like a 15 minute session on a Friday where we all just take a file and do the deed.

[2014-07-02 01:08] bassettsj commented on #102
That would be sweet, having an auto lint would be nice and get us into following the code style for drupal.

[2014-07-02 10:53] parijke opened #103 "Disabling blocks not working?"
Hi all,

I have a fresh installation of drupal with the latest dev. With that fresh install I created a subtheme using drush "My awsome theme". Also enable panopoly_theme.

So far so good.

I created a panels page using page manager, checking "Disable Drupal blocks/regions" and created a two column page with the Burr layout.

The page looks nicely except that the blocks like navigation are still v

[2014-07-02 10:57] parijke opened #104 "Kalatheme as admin theme not showing panel columns aside"
Hi all,

As recommended in the installation I enabled Kalatheme as the admin theme as well. This doesn't look very good in my opinion, but I also have the issue that the columns (like Burr) are shown on top of eachother in stead of next to eachother.

![image](https://cloud.githubusercontent.com/assets/7671998/3454868/98bbc978-01d7-11e4-9642-49e8307e8ff3.png)

[2014-07-02 13:35] labboy0276 opened #105 "upgrading from pre-rc3 versions for sites using custom libraries requires resaving the theme form"
When upgrading to 3.0 on a rc2 or rc3 branch I am noticing that the custom lib is not being seen.  The work around is going in and re-saving the subtheme and it alleviates the issue.

[2014-07-02 15:23] labboy0276 opened #106 "Kalatheme 3.0 + views_bootstrap = weirdness"
OK

So I updated CSi's site to kalatheme 3.0 and updated their bootstrap library as well to 3.2.  For some reason the views_bootstrap carousel goes haywire now.

What happens is, it runs through the first pass no problem, when it goes back around it seems like it loses count as to where it is in the queue.  So what is happening is, say there are 4 items in the carousel, it goes through the first 4

[2014-07-02 16:12] pirog commented on #104
I don't think you need to set as admin theme anymore. What version here?

[2014-07-02 16:12] pirog commented on #103
Latest dev of what branch?

[2014-07-02 16:13] pirog commented on #105
Good to know. Do you know why this happens?

[2014-07-02 16:14] labboy0276 commented on #105
i am investigating

[2014-07-02 16:15] parijke commented on #104
Hi Mike,

Kalatheme 7.x-4.x-dev

[2014-07-02 16:16] pirog commented on #106
Are we overriding the markup for the carousel in the new version? If so , what is different?

[2014-07-02 16:16] parijke commented on #103
Hi Mike,

Kalatheme 7.x-4.x-dev

[2014-07-02 16:20] pirog commented on #103
@parijke 4.x dev is still a work in progress but @bassettsj may have more insight here

[2014-07-02 16:29] labboy0276 commented on #106
After investigating, this is more of a bootstrap 3.2 issue it seems

On a rc2 install + bootstrap = 3.2 this is happening, oy....

Odd thing though is that when it was just kalatheme 3.0 + bootstrap 3.1 = weirdness, so idk.  Waiting to see if @bassettsj knows if anything was changed in this area

[2014-07-02 16:33] bassettsj commented on #106
Yeah, they changed some of their markup in the carousel. Let's dig into views_bootstrap and fix it. Shouldn't be hard.

[2014-07-02 16:37] labboy0276 commented on #106
Check this out, line 288 of the bootstrap.js

if (this.sliding)       return this.$element.one('slid.bs.carousel', function () { that.to(pos) }) // yes, "slid"

its a typo...

should be slide.bs, let me see if this wins it

[2014-07-02 16:39] labboy0276 commented on #106
actually it isnt, nevermind, the use slid and slide interchangeably

[2014-07-02 17:00] bassettsj commented on #103
@parijke did you disable the blocks module itself?

[2014-07-02 17:08] parijke commented on #103
Hi Steven,

No I didn't. I bet it will work then bu I need blocks sometimes

[2014-07-02 17:10] pirog commented on #103
Not 100% sure but i _think_ you can have blocks on and just move the blocks
out of the content region in the blocks UI?

On Wed, Jul 2, 2014 at 10:08 AM, parijke notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-02 17:11] bassettsj commented on #103
I would really recommend _not_ using blocks with a panels based site, you have two competing paradigms here.

If you have to have blocks, remove the blocks on any panels page from the blocks management page.

[2014-07-02 17:15] pirog commented on #103
+1

On Wed, Jul 2, 2014 at 10:11 AM, Steven Bassett notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-02 17:39] parijke commented on #103
Hi Steven,

Yes I mostly aggree on being reluctant with blocks. But sometimes it is needed.

I checked the blocks configuration page (for the My Awesome Theme Kalatheme Subtheme) and most of the enabled block were in the content region.

I removed them from the content region to get rid of them, but I think it should be working with "Disable blocks/regions" from the panels page configuration.

I w

[2014-07-02 18:06] parijke commented on #104
I enabled Seven as the admin theme and that works fine

[2014-07-02 18:06] #104 closed, assigned to bassettsj

[2014-07-02 18:08] pirog commented on #104
@katypool ... should update the docs to state that setting kalatheme as the admin theme is no longer required

[2014-07-02 19:19] pirog commented on #103
Yeah def let us know if there is something we can do on our end to make this work like other themes!

[2014-07-02 19:23] pirog commented on #106
+1 on @bassettsj let's see if we can fix this on the views_bootstrap side

[2014-07-02 19:27] pirog commented on #105
solid!

On Wed, Jul 2, 2014 at 9:14 AM, John Ouellet notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-02 19:52] labboy0276 opened #108 "Maybe put this in the docs for people with custom libs older than 3.2"
This is how you can use your default.config to load all your settings and get a 3.2 lib:

go to https://gist.github.com
put content from your config.json file
name the new gist config.json
publish the gist (anonymously or under your name)
save the gist number - the number in the gist url
open bootstrap customizer (http://getbootstrap.com/customize) or your local one
add the gist number to the url

[2014-07-02 19:55] pirog commented on #108
@katypool is going to lead up our dev consolidation efforts. This is good, does bootstrap document this anywhere?

[2014-07-02 19:56] labboy0276 commented on #108
negative, i found it on stackoverflow here:

http://stackoverflow.com/questions/20384330/reload-bootstrap-customization

it saves mucho time and it does work flawlessly

[2014-07-02 19:57] pirog commented on #108
word, maybe we can just link to that then

[2014-07-02 19:58] labboy0276 commented on #108
ok whatever is easiest

[2014-07-02 23:45] tilon opened #109 "Brief explanation about how to test/use scss files in 4.x"
Hi, as probably you know I'm trying to use the 4.x with sass features. I generated the sub-theme for 4.x and it work fine, but the new subtheme folder only contains the default .info file, template.php and the empty css. My question is if the subtheme generator is responsible to generate also a folder with the scss files or if this is something manual we should do.

I see a gemfile but not sure if

[2014-07-03 17:21] bassettsj commented on #109
Hey there!
I would be happy help out here. The current subtheme generator is pretty limited in what it can do. We are looking at using Yeoman to help scaffold out more advanced subthemes. Would it be helpful to put up an empty template repo for the time being that can help get you going?

[2014-07-03 17:37] bassettsj commented on #102
Okay this issue was taken care of in the last pull request. Travis will now check the style of new code that is submitted.

[2014-07-03 17:37] #102 closed, assigned to nobody

[2014-07-03 20:13] dariogcode commented on #109
I don't know much about Yeoman but looks very promising!.

A template can help a lot. In my case I generated the theme without select a bootstrap librarty. Then I added a folder scss with files

_bootstrap-variables.scss
styles.scss

And in styles.scss I imported bootstrap-variables and imported "selective" bootstrap scss

This will be my "template", but not sure if you're talking about something

[2014-07-06 06:01] rokat opened #110 "Checkbox bootstrap 3.2.0 alignement/size duplicate"
duplicate

[2014-07-06 06:43] #110 closed, assigned to nobody

[2014-07-07 15:24] maxplus opened #112 "Notice: Undefined index: responsive_toggle"
Hi,
i get the following Notice when loading a page that uses a views grid:

Notice: Undefined index: responsive_toggle in kalatheme_preprocess_views_view_grid() (regel 47 van /var/www/vhosts/toporedvps.maxplus.be/httpdocs/sites/all/themes/kalatheme/includes/views.inc).

I have tried to disable responsive toggle in my own subtheme but the notice does not go away.
I'm using:
- Kalatheme 7.x-3.0
- Pa

[2014-07-08 01:43] pirog commented on #112
@labboy0276 can you check this out?

[2014-07-08 01:45] labboy0276 commented on #112
@maxplus I would try updating panopoly and see if that helps first

[2014-07-08 22:28] katypool-zz commented on #81
@pirog @bassettsj A wild wiki appears!
https://github.com/katypool/kalatheme/wiki

[2014-07-11 19:14] reynoldsalec opened #113 "Test the Theme Settings"
Test and make sure all theme settings work as expected.

[2014-07-11 19:22] reynoldsalec opened #114 "Check if Hubdrop is Switching Default Branch"
We should examine Hubdrop's code and see if it's changing the default branch on Github.

@jonpugh, do you know if this might be a problem off the top of your head?

[2014-07-11 22:42] bassettsj commented on #109
@tilon My apollogies again on this. I have been up to my :eyes: in client work lately, haven't had time for anything else lately. I cleaned up scaffolding I used for another project. It has some great features and a nice README. Checkout the [kalamuna/kalatheme_sauce](https://github.com/kalamuna/kalatheme_sauce) for the time being on how to do these more advanced  things with kalatheme

Does that

[2014-07-15 20:55] bassettsj opened #115 "Dropdown toggles change to aria-hidden in the main menu."
Navbar dropdown menus should _not_ use `display: none;`; we can use a sr-only class as well for the toggle.

[2014-07-15 21:47] bassettsj commented on #115
[code]

[2014-07-18 19:13] reynoldsalec commented on #81
Party, @katypool can deploy this into the main Kalatheme project wiki.

@pirog will link from the D.o. documentation to the Kalatheme wiki.

[2014-07-18 21:21] katypool-zz commented on #81
Wiki is now live! Unfortunately I find myself in possession of no golden spike.
We actually still need a SASS page, which is linked to on some of the other pages. I think @bassettsj wanted to handle that (other pages link to a blank wiki/SASS-with-Kalatheme page, so if you just edit that page I won't have to go through and fix any links within the existing documentation)

[2014-07-19 14:30] labboy0276 commented on #112
@maxplus Did you try updating your panopoly?

[2014-07-19 17:47] rokat commented on #112
After updating kalatheme .
I had that issue too , re-saving/re-applying the views settings did remove the notice.

[2014-07-19 20:50] pirog commented on #81
@katypool @reynoldsalec i've linked the docs in D.o but i can't really remove the child pages. So if someone finds the current kalatheme docs on D.o which they would by googling "kalatheme docs" they can see all the old child pages. Any thoughts on what to do here?

Any ideas on what to do thatee

[2014-07-19 23:12] rokat opened #118 "Views field rewrite messy"
![capture du 2014-07-20 01 02 31](https://cloud.githubusercontent.com/assets/7518186/3636020/ddfae0e4-0f99-11e4-85b9-ab281a53a425.png)

I have looked into it, the reason is the application of an extra "form-control" css on the container.
Will look where it's applied. Or if it's already patched on v4.

[2014-07-19 23:23] rokat commented on #118
[code]

[2014-07-21 10:31] maxplus opened #119 "Cannot save theme settings in 7.x - 3.0"
Hi,

I'm running a clean new site based on Panopoly 7.x-1.6 with Kalatheme 7.x-3.0.

I already have successfully generated a custom subtheme based on a Bootswatch theme without a problem (based on United)

But now I want to edit the theme settings through the theme appearance admin page "admin/appearance/settings" (disable logo, secondary menu,...) but I when I save this  form, nothing gets saved.

[2014-07-21 10:31] maxplus commented on #112
Hi,
I'm working an another project with:
Kalatheme 7.x-3.0
Panopoly 7.x-1.6
...and I do not have the same issue there, so I think the Panopoly version was the problem.

But I do have another issue on this new project: https://github.com/drupalprojects/kalatheme/issues/119

[2014-07-21 10:36] maxplus commented on #119
Hi,

maybe nice to know for others with this problem:

I have just set my admin theme to "Seven" instead of using "Default theme"
=> now when using Seven as admin theme, the settings I have changed in the admin/appearance of my custom theme DO save, yes!

[2014-07-21 20:09] pirog commented on #119
Just to confirm. Is the below accurate?
- Admin theme = Seven -> Can save custom theme settings.
- Admin theme = default theme -> Can not save custom theme settings

[2014-07-21 20:10] #106 closed, assigned to nobody

[2014-07-21 20:13] pirog commented on #118
@rokat where is the _extra_ form-control? The one in edit-options-alter-text-wrapper?

[2014-07-21 21:08] maxplus commented on #119
Yes, that is correct

[2014-07-21 23:46] rokat commented on #118
@pirog  it is as you said ,in the edit-options-alter-text-wrapper, the wrapper doesn't need the form-control, only the textarea.

I have found a solution.
In

[code]

 kalatheme_process_input (it adds the form-control to both wrapper & textarea)
Removing textarea from the list of types

And

[code]

Adding form-control directly to textarea
that should do the trick, but requires some regression tes

[2014-07-22 00:17] rokat commented on #118
Added the pull request

[2014-07-22 16:01] maxplus commented on #90
Hi,
I used a custom Panel template for this that I found in another post (in the Radix issue cue) and edited that a little bit, is is the mars-template. See for more info here: https://www.drupal.org/node/2181975

[2014-07-22 16:19] maxplus opened #121 "Best approach to work without a fixed header, replace it with a mini-panel?"
Hi,
I like the way Kalatheme is build on Panopoly and very flexible is in its page layouts.
One optimalisation that I want to do the right way, is to also get rid of the default "static" header (including the Drupal standard theme settings like Site logo / main menu / secondary menu / ....)

The way I'm doing it right now is:
1. First I override the page.tpl.php that is provided by the base Kalath

[2014-07-22 19:16] maxplus opened #123 "Error message during subtheme generation is too vague"
Guys,

I had a lot of problems fighting the error message in the theme settings "If you want Kalatheme to be able to use custom Bootstrap libraries or generate subthemes automatically please properly configure your webserver."

Now I found out with viewing the Kalatheme code, that you not only need 775 permissions for your themes and libraries folder, BUT YOU ALSO NEED TO ENABLE THE UPDATE MODULE!

[2014-07-22 20:00] maxplus commented on #119
Hi,
my problems are solved by enabling the Drupal core "update manager" module.
=> the error message on top disappears
=> I can set custom theme settings
=> I can save them, when using my custom Kalatheme as admin theme!

Everything OK!

Look also at this related issue: https://github.com/drupalprojects/kalatheme/issues/123

[2014-07-25 10:50] enxox opened #124 "views grouping leads to notice undefined offset in include()"
I have a view pane listing all nodes of a certain type, in a table, using fields.

Everything fine, untill I chose one field for grouping (from format table settings).

On the page the output is fine, but I have some notices of this type:

Notice: Undefined offset: # in include() (line 39 of /sites/all/modules/contrib/views/theme/views-view-table.tpl.php)
 (# is the number of the offset)

Actually

[2014-07-27 20:57] labboy0276 commented on #105
I poked around many places, I looked for possibly subtheme_bootstrap not being set properly, but it all seems ok.  Somehow, somewhere it is not seeing the custom bootstrap library on update.

Any other places to look would be helpful, but since the code base is so different, something isnt happy on upgrade.

[2014-07-27 22:06] pirog commented on #118
Great! I just posted some comments on the PR. It looks good but going to ask for a second set of eyes and then merge it in!

thanks so much for your help!

[2014-07-27 22:21] pirog commented on #124
@labboy0276 seems like this shouldn't be too hard to fix. can you give it a look see?

[2014-07-27 22:25] pirog commented on #123
@labboy0276 i _think_ there is a function in kalatheme which checks for the update module. we should make sure that we add something to this error message so the user knows they also need to turn the update module on to build subthemes. @katypool, we should add this into the documentation as well.

If you want Kalatheme to be able to use custom Bootstrap libraries or generate subthemes automatical

[2014-07-27 22:29] pirog commented on #121
@maxplus i _think_ that if you disable all the elements in the header that kalatheme hides the entire header.

from the documentation:
https://github.com/drupalprojects/kalatheme/wiki/Kalatheme-settings-and-config

I think the way you are doing it is completely fine as well but if you didnt want to create a new page template you could just follow the suggestion above.

Does that help at all?

[2014-07-27 22:51] pirog commented on #90
@parijke yes! this is the place. We are trying github out as an alternative spot for code dev and issue handling.

i _think_ kalatheme takes basically the same approach to radix here so i think the resolution posted by @maxplus should be quiet sufficient. If not please feel free to reopen!

[2014-07-27 23:20] pirog commented on #119
Very strange.... glad to see enabling updates solves the issue but we should def make sure a user can save their settings in the event that they do not want to enable updates.

@labboy0276 can you look into this and see if the status of the update module somehow prevents the form from being submitted/saved?

The logic **should be** that you shouldnt be able to do any subtheme related saving (in fa

[2014-07-27 23:22] pirog commented on #105
Does clearing the cache also resolve the issue in lieu of saving the form again?

[2014-07-27 23:22] pirog commented on #105
and are you sure it breaks from rc3 or just from rc2?

[2014-07-27 23:30] labboy0276 commented on #105
rc2 only

rc2 -> 3.0 = no bueno.  So maybe just recommend a step upgrade then, or resave the subtheme if you dont?

[2014-07-27 23:35] pirog commented on #105
well im guessing an upgrade from rc2->rc3 also breaks so i dont think a step upgrade would do much of anything.

we need to have some sort of mechanism to map rc2 settings to rc3+ settings. i dont think update hooks are viable for themes but other themes **MUST** change their settings from version to version so we should see what they do and whether that would make sense here.

[2014-07-28 00:51] labboy0276 commented on #124
@pirog I fixed it and added it to master as well, submiited PR

[2014-07-28 00:52] labboy0276 commented on #105
yes, this is true.

I will stare at some other themes and see

[2014-07-28 00:53] labboy0276 commented on #123
@pirog can we just make ti a dependency and call it a day?

[2014-07-28 01:04] labboy0276 commented on #108
@pirog I added the instructions to both master and 3.x

[2014-07-28 01:30] pirog commented on #124
@enxox try this out on the latest dev and see if it resolves your issue. reopen if not!

[2014-07-28 01:30] #124 closed, assigned to labboy0276

[2014-07-28 01:33] pirog commented on #123
@labboy0276 i don't know if we can make it a dependency of the whole project. there are a lot of reasons why someone might not want to turn on the update module and a lot of people won't even need it because they wont use a subtheme or custom library.

@reynoldsalec or @andrewmallis do you have any thoughts on this? maybe its not a big deal to just make it a dependency?

[2014-07-28 10:23] maxplus commented on #90
Hi,
I'm OK with the fact that we need a custom Panel layout to get the full width slider at the top of the page, no problem with that.
The only thing that would be cool is that you could get the full width effect by apply-ing a style with the style plugin. In that way you have so much more power because:
1. you could also get full width somewhere in the middle of the page
2. you can keep on using

[2014-07-28 10:26] maxplus commented on #121
Yes,
I just wanted to check if I'm going in the right direction.
I understand that I also could use the default template and disable all the header elements inside the theme settings page.

Now I only need to get the mobile menu working like it should (I think by adding the navbar classes and stuff to the mini panel that replaces the static header).

Very powerfull!

[2014-07-28 10:29] parijke commented on #90
Got it up and running using a slightly customized version of mars.zip (wrapped the first row in a div with class container-fluid)

Ok, it isn't dynamic with the styles plugin (which can be done I guess) but it will work for now.

Thx all

[2014-07-28 12:24] enxox commented on #124
it works!
thank you

[2014-07-28 17:12] pirog commented on #121
Definitely sounds like the right direction to me!
Going to close but feel free to reopen!

[2014-07-28 17:12] #121 closed, assigned to nobody

[2014-07-28 17:22] pirog commented on #90
@maxplus a style plugin would be very cool. Is there a CSS class you could write that does this even if you are inside a .container? If not where would we need to move the container elements to do this without making full-width the default appearance?

Ideally we could target container classes appropriately and then provide a simple "full width" class via the kalacustomize plugin to allow users to

[2014-07-29 02:28] MetaBureau opened #129 "Add bootstrap markup to Menu (support request)"
Hi I have added a custom menu (footer_menu) and wish to add bootstrap CSS to the menu's UL.

There is a theme function in the Bootstrap theme which does this:
/**
- Bootstrap theme wrapper function for menu links.
  */
  function bootstrap_subtheme_menu_tree__menu_footer_menu(&$variables) {
  return '<ul class="menu nav navbar-nav footer">' . $variables['tree'] . '</ul>';
  }

I'm struggling to ac

[2014-07-31 03:07] jtjones23 commented on #123
Running Kalatheme 7.x-3.0 on MAMP, PHP 5.3.27

I must be missing something. When I attempt to add the openmind Custom Bootstrap library, the template.php and main.css files are blank (except for comments at the top).

Any thoughts?

[2014-07-31 03:10] pirog commented on #123
I think that is the expected behavior. They are just placeholder files for
your new sub theme.

On Wednesday, July 30, 2014, jtjones23 notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-08-01 20:30] katypool-zz commented on #81
I can go through and link to the wiki on each child page on d.o. (and delete the old documentation on those pages?)

[2014-08-02 16:07] pirog commented on #81
I don't know if you can delete those children pages but i think that would be ideal. Either way we need to make sure that people know... and are directed to the new docs.

@katypool do whatever you think is best to achieve this and let me know if you need anything!

[2014-08-03 00:22] #118 closed, assigned to labboy0276

[2014-08-04 22:46] maxplus commented on #90
Hi Pirog,

the bootstrap documentation says the following: http://getbootstrap.com/components/#jumbotron

The problem is that once you choose a Panopoly layout, I think the second default DIV inside a region is always a container-class. So all panes that you place in there are always wrapped inside a container.
So you cannot "undo" a individual panel of its master wrapping container so you cannot

[2014-08-05 01:45] pirog commented on #90
Got it.... kind of what i suspected but was hoping maybe i'd missed something.

It might be more possible to do your later suggestion if we change the panopoly layouts so each "row" inside a layout has a container class vs the entire layout.

[2014-08-05 03:16] labboy0276 commented on #90
We did do this on another project by creating a custom layout template.

in sites/all/themes in your subtheme create a layouts folder if it isnt there.

Then in that folder create another folder for your template (I added a link to the repo of a template we used on a project as this is easier to figure out on your own).  You can play around with the css to fit your needs.

https://github.com/labbo

[2014-08-05 21:50] pirog commented on #90
@labboy0276 thanks for the code sample

@maxplus, do you think my container class for each panels layout row could be advantageous at all? could be a good short term, easy to implement fix.

[2014-08-06 13:14] parijke commented on #90
@labboy0276 Why not using container-fluid instead so you don't have to create custom css? Or do I miss something here?

[2014-08-06 13:18] parijke commented on #90
@labboy0276 also, I believe that in your case the theme.info file needs to be changed as well. The documentation says that this line needs to be added to the .info file:
plugins[panels][layouts] = layouts

[2014-08-06 13:19] maxplus commented on #90
Hi parijke,
I think you are correct, using .container-fluid looks the right approach to me.
Bootstrap docs: "Use .container-fluid for a full width container, spanning the entire width of your viewport."

You could also use the "jumbotron full width" element, depending on your needs.

[2014-08-06 14:11] labboy0276 commented on #90
Yes,

In your subtheme.info file, this is needed plugins[panels][layouts] = layouts, which is in the docs and I didnt put it in here.

Also, .container-fluid doesnt go the full-width, neither does jumbotron full width element.  They still have the padding and hence why we used the custom panel layout.  When we built this site, we tried all the normal bootstrap recommendations, but they didnt fit w

[2014-08-06 14:15] parijke commented on #90
@labboy0276 I think the padding is reversed when you define a row in the container, then it uses full width (as a row uses negative magins)

This is a great resource about it
http://www.helloerik.com/the-subtle-magic-behind-why-the-bootstrap-3-grid-works

Or do you mean something else?

[2014-08-06 14:27] labboy0276 commented on #90
@parijke I dont remember, we built the site 6+ months ago.  We did it that way for a reason at the time.  Like I said they could of changed some things, but that is how we got it to work based on everything we tried via the docs.

[2014-08-06 15:10] parijke commented on #90
@labboy0276 John I appreciate the codesample very much. I didn't mean to be pedantic, I just want to get it myself and for others who read this post/issue. Hope I didn't offend you?

[2014-08-06 15:13] labboy0276 commented on #90
Negative ghostrider, no offense was taken.

[2014-08-06 19:12] labboy0276 opened #132 "Modals stopped working in 3.0"
I upgraded a site to the latest kalatheme and poof all the modals stopped working.  I tried upgrading the bootstrap library to 3.2 and still no go.

I dont see any errors in the console, not sure why this has happened

[2014-08-06 22:58] pirog commented on #132
Hmmm... i'm not convinced this is kalatheme.
http://kalatheme.kalamuna.com/demo is running on the latest 3.x dev and latest Panopoly and modals seem fine. I would try to find out what the difference is between http://kalatheme.kalamuna.com/demo and your site.

What modals aren't working? can you be more specific?

One thing that i did notice which we should open a new issue for is the "x" close ch

[2014-08-06 23:19] pirog commented on #90
could also have a settings on the theme to switch between container and container fluid for a bunch of things

[2014-08-07 04:19] parijke commented on #90
@pirog that would be awesome Mike, to make it switchabke

[2014-08-07 04:37] jpstrikesback commented on #132
I've noticed this with an upgrade from panopoly 1.7 to 1.9, the media asset selection modal (upload, web, library) has a z-index of 2 or something and the panelizer modals have a z-index of 1000 or so...I wonder if an upgrade to the media module took place and there was a style change in it...

[2014-08-07 06:20] jpstrikesback opened #133 "Drop-down menu caret placement"
See: https://www.drupal.org/node/2262301 and http://getbootstrap.com/javascript/#dropdowns-examples

The dropdown caret is placed in it's own `<a>` and should probably be inside the dropdown `<a>`.

[2014-08-07 06:43] jpstrikesback commented on #133
PR is in #134

[2014-08-07 12:32] labboy0276 commented on #132
Well @jpstrikesback is correct I did upgrade to 1.9.  The modals are in a text widget within a panel.  When I revert back to rc2 they work, when I go to 3.0 they dont.  So that is what is going on without digging into the problem more quite yet.

[2014-08-07 19:51] pirog commented on #132
@labboy0276 can post your text widget code for this?

does this also happen when you are on the new panopoly 1.10?

[2014-08-08 05:04] jpstrikesback commented on #132
This is nuts but it seems related to jquery update. I haven't checked what Panopoly was serving prior to the update but after it was serving 1.7 and the other options were 1.5 & 1.8 (old), updated Jquery Update to the latest release (7.x-2.4) which defaults to 1.10 and modals are working again.

[2014-08-08 05:20] andrewmallis commented on #132
I have found that the latest latest jquery can break some other IPE functionality, so you should test thoroughly.

[2014-08-08 22:16] pirog commented on #132
ugh... for real?

DRUPALLLLLLLLLLL CMONNNNNNNN

[2014-08-09 03:20] rokat commented on #132
If my memory serves, panopoly didn't update jquery to the latest version because the modal for Media is showing under CTools modal.
https://www.drupal.org/node/2245143
Maybe if we help them test it so that it may be fixed it could help us all.
Changing jquery version (set to use 1.8) version in 2.3 version is very buggy IPE breaks etc (wrong z-index).

[2014-08-09 15:51] labboy0276 commented on #132
OK @pirog

So i updated to 1.10 panopoly, kalatheme 3.0 and it still doesnt work
I tried downgrading jquery_update to 2.3, still no work

I downgraded kalatheme to rc2 (with panopoly 1.10) and it works just fine

So the problem here it seems lies within something in kalatheme more then likely

The modal is within a panel widget here:  www.fiksu.com/fiksu-obstacle-course

It is a very large modal s

[2014-08-09 23:34] pirog commented on #132
@labboy0276 got it... but can you share some of the actual HTML you are using to make this happen so i can test it out on a clean install? i still cant even replicate this yet.

[2014-08-10 01:49] labboy0276 commented on #132
@pirog Indeed here ya go:  https://gist.github.com/labboy0276/0c75b82380088dd2b2bc

[2014-08-15 13:23] monk-e-chops commented on #112
I'm getting this NOTICE also, Panopoly 7.x-1.10, Kalatheme 7.x-3.0. I tried resaving my views, but this didn't fix anything.

[2014-08-15 18:21] katypool-zz commented on #81
this issue can be closed!

[2014-08-15 18:25] pirog commented on #81
Hooray!

[2014-08-15 18:25] #81 closed, assigned to nobody

[2014-08-19 23:53] kdmarks opened #135 "Using kalatheme_grid_size in a Kalatheme subtheme in /sites/all/themes"
Kalamuna created a subtheme of Kalatheme for ASU called OpenASU.  I've created a subtheme of Open ASU in sites/all/themes.  So I'm working on a subtheme of a subtheme of Kalatheme.  I added a new panels layout inside my theme. Everything works nicely except the kalatheme_grid_size class in the tpl.php file. I've had to hardcode the column sizes (the col-md-X class). Is there a way I can take advan

[2014-08-20 12:22] mglaman opened #136 "Decoupled Navbar styling in Panopoly Admin"
There's an RTBC patch in Panopoly for decoupling Navbar styling from Panopoly Admin. https://www.drupal.org/node/2051621

This would move the Navbar styling (the tray adjustments) to panopoly-admin-navbar.css, allowing the theme to keep panopoly-admin.css set. This will fix any Navbar styling issues while preserving Panopoly Navbar icons.

[2014-08-20 12:30] dsnopek commented on #136
This may break Kalatheme styling if it's specifically overriding panopoly-admin.css to override Navbar, as this is in a new file. (Although, we haven't checked).

[2014-08-28 16:36] pmackay commented on #129
I would also appreciate some info on how best to make menus work as dropdowns. I think I can apply some of the classes but am unsure how to get the child menu items to be included.

[2014-08-28 17:09] labboy0276 commented on #129
Hello

Here are my suggestions.

One way:
You can do this with a hook_menu_link
https://www.drupal.org/node/1201248#comment-4875382
The gist of it there.

Another way:
Look at the page.tpl for kalatheme, you will see this:

$pri_attributes = array(
            'class' => array(
              'nav',
              'navbar-nav',
              'links',
              'clearfix',
            ),
AND

<?p

[2014-08-29 09:28] pmackay commented on #133
This could have the effect that its not possible to click on an actual main menu item. The Drupal Bootstrap theme I think already does what this issue suggests, but it means the visible menu item is just a toggle for showing the dropdown menu (maybe there is something I'm missing). Kalatheme current behaviour allows the visible menu item to be clicked and also click the caret to see the dropdown.

[2014-08-29 09:35] pmackay opened #137 ""Build and enable a custom subtheme" had no effect"
I installed Kalatheme 7.x-3.0 on Panopoly and tried to tick "Build and enable a custom subtheme" to create one, but when I saved it had no effect. I couldnt see any new subtheme generated. I could create one using drush though.

[2014-08-29 19:07] bassettsj opened #138 "Look at the bootstrap theme functions for componentization"
- We could get some better feature parity with Bootstrap here.

[2014-08-29 19:08] bassettsj opened #139 "Look at some of the nice modernization theme functions in mothership"
http://cgit.drupalcode.org/mothership/tree/mothership/template.php?h=7.x-3.x#n70

[2014-08-29 19:10] bassettsj commented on #139
Include some themer utility functions like this maybe:

[code]

[2014-09-01 16:05] hexosecs opened #140 "Mobile view hamburger button will not hide menu"
When clicking on the hamburger it shows the menu fine but on clicking it again the menu disappears and then reappears.

This is on the latest kalatheme downloaded today for drupal 7.

Please ask if you need any further information.

[2014-09-01 20:40] shawnholt commented on #118
I updated to dev and this solved the text drop down, but the replacement patterns dropdown does not open.
If I remove /\* position: relative; */ from form-item form-type-checkbox form-item-options-alter-trim checkbox it seems to work.

This is the code:

<div class="collapsible collapsed form-wrapper dependent-options" id="edit-options-alter-help-wrapper" style="overflow: hidden;"><fieldset class=

[2014-09-02 08:49] enxox commented on #137
Same for me.
Last version of Kalatheme on custom Drupal, themes and libraries folder on 777 permission, update module enabled, stark as admin theme (as I have read on some other issues).

Nothing seem to work.

Theme settings page says "Your webserver is correctly configured to allow for custom Bootstrap libraries and subtheme generation!" but when I try to save a subtheme, only "The configuration

[2014-09-02 08:58] npoku commented on #137
I also had the same issue even on local dev. Running default Drupal Districution + Panolopy modules + Kalatheme.

Checking the box to create a subtheme didn't work for me, but drush did.

Enxox, can you explain, "not being able to use drush". As in general or just to create a subtheme?

[2014-09-02 08:59] enxox commented on #137
It's my personal fault, I never installed it :)

[2014-09-02 09:03] npoku commented on #137
@enxox. Ahhhh. Highly recommended. It would make your life easier :-).

Until I also get any solution to create a sub-theme via web interface Drush it going to be for me.

[2014-09-02 23:53] shawnholt opened #141 "Looking for a kalatheme guru to help me build a theme"
I'm a system builder - have solid understanding of bootstrap, panels, kalatheme, etc. concepts but writing code is not my thing.  Looking for a few hours consulting to help me with styling and general support.  may hand-off some parts, or work collaboratively.  This is not a big project, but hitting crunch time.  Please let me know if anyone with kalatheme/panopoly experience has a few hours avail

[2014-09-05 23:07] bjdevil21 commented on #90
@pirog @maxplus Did anyone decide on an official/codified way to approach this? We're facing this issue (as described on Aug 4 by maxplus) with Webspark, and we're trying to decide on the best course of action. We can make it work with a jQuery hack, but I'd like to take care of it in the theme. And I also want to avoid negative margins/padding. I was leaning towards the "force everything to 100%

[2014-09-06 06:14] parijke commented on #90
Official way not.... But I think this is a suitable way

Create a panels layout like de mars-template mentioned by @maxplus
Make sure you create a container-fluid/row combination for the stretched area
Make sure you create a container/row combination for the fixed area

Always make sure to use container and row together as they use eachother's (negative) margins

See
http://www.helloerik.com/the-s

[2014-09-06 13:10] maxplus commented on #138
Do you mean that using bootstrap components could be better integrated?

If you mean that, I really would love it because now creating a bootstrap accordion or other component is really messy the way I'm doing it right now...

[2014-09-07 02:55] tolusonaike opened #142 "Kalatheme css overiding styles in the Panels IPE settings pages"
While trying out panopoly with kalatheme, i noticed the settings pages for the in-place-editor are using kalatheme styles. Not sure this is expected behavior.

[2014-09-07 15:51] parijke opened #143 "adding navbar-fixed-top doesn't work"
I am using a (latest) dev version of Kalatheme-7.x.4.x-dev

When I add the class navbar-fixed-top to the navbar it does not work like I expected.

I cannot figure out why it isn't working so any suggestions are welcome

[2014-09-07 15:59] parijke commented on #143
It is because this is in kalatheme.min.css

.navbar-fixed-top {
   position: static;
}

why?

[2014-09-10 04:15] tilon opened #144 "Main menu item not active when viewing a child page with level +2"
This happen when you have a tree menu of more than 2 level deepth.
* Home
* Services
  * Services 1
    * Sub Service 1
 * Service 2
    * Sub Service 2
* Products

If you enter in Sub Service 1 the main menu item Services loss the active class.

I found this happen because we're using 2 level depth in
[code]

Then the tree doesn't have the info of the current active trail. I replaced this in my t

[2014-09-10 10:07] npoku commented on #144
Thanks for this. But just so you know there is a typo on your line:

if (isset($menu_item_bellow['below']))

Below is spelt wrong (you have 2 Ls) or is it intentional?

Thanks.

[2014-09-10 12:34] maxplus commented on #112
Hi,
I'm running a Drupal 7.31 with Kalatheme 7.x-3.0 not based on Panopoly and I also get this notice.
Using Panels 3.4
I have tried to re-save the view but that does not help.

[2014-09-12 07:10] maxplus commented on #112
Hi I did some more testing:
1. Used the current DEV version of Kalatheme 3: same issue
2. Edited my view and switched the display mode to HTML list: Notice goes away.
        => when I switch back to the grid mode: Notice comes back...

[2014-09-13 09:31] maxplus commented on #121
Hi,
I like the approach of a complete One Region setup, run whole site on panels, so no hardcoded header.
There is one problem with this setup: your Drupal default stuff like : $messages, $tabs, $action_links => get on top of everything... and that is not so nice (because my subtheme is still using the core page.tpl where they are all printed at the top-content div:

  <div id="main-wrapper" class

[2014-09-13 09:53] maxplus commented on #121
After thinking about my previous post, I maybe found some kind of nicer solution to have the best of both worlds:
1. create a mini panel for your header: this still gives your client all the edit modifications
2. render this mini panel inside your page.tpl
3. put the "$messages, $tabs, $action_links" below this mini panel
4. print de rest of your content

So in my case, my custom page.tpl looks li

[2014-09-17 17:12] dariogcode commented on #112
Same issue here. Also, I noticed some issues with the new views tpl (for grids by example) and the module views_bootstrap that already have his own tpl.

[2014-09-17 21:09] shawnholt opened #145 "Update d.o. release configuration to better represent current support of 4.x"
Drush is telling me that 4.x is "Supported".  Is it stable?
 [0]  :  Cancel
 [1]  :  7.x-4.x-dev  -  2014-Jul-02  -  Supported, Development
 [2]  :  7.x-3.x-dev  -  2014-Aug-06  -  Development
 [3]  :  7.x-3.0      -  2014-Jul-02  -  Supported, Recommended
 [4]  :  7.x-1.x-dev  -  2014-Jan-13  -  Development
 [5]  :  7.x-1.4      -  2013-Dec-24  -  Supported

[2014-09-17 22:43] pirog commented on #145
all development releases should be considered as unstable. we are trying to find a new maintainer for the 4.x branch so we can push out a stable release!

[2014-09-19 17:56] schasoli opened #146 "revise responsive toggling methodology"
Hello,
with <a href="https://www.drupal.org/project/breakpoint_panels">breakpoint_panels</a> panels can be not rendert do to breakpoints (not only hidden). It might be worth adding this into Using-Kalatheme-and-Best-Practices.
I am just not sure, if this is wanted.
cheers
Oli

[2014-09-19 23:09] pirog commented on #146
yes this should def be considered the preferred way to do this sort of thing. adding it to the docs would be a great idea.

[2014-09-20 16:11] schasoli commented on #129
Thanks labboy0276, now I can change the li classes!
Any idea to change the ul classes?
It would  be interesting to add a 'data-toggle' attribute to <a href="https://www.drupal.org/project/menu_attributes">menu_attributes</a> so all these <a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-dropdowns.php">snippets</a> could be used.

[2014-09-20 16:20] labboy0276 commented on #129
Here is a gist I wrote to play around with anchor tags in a menu

https://gist.github.com/labboy0276/8a7c6b382ee89376415f

You can use it to your will and rebuild the full menu

[2014-09-20 19:54] schasoli commented on #129
edit: you find here a [template.php](https://gist.github.com/schasoli/2a692caa58157965e216) witch changes main menu to use bootstrap style. testet with kalatheme.
you can change main_menu to footer_menu and adapt the variables if you do not like tabs, but navbar for example.

[2014-09-24 18:05] thepixelpuncher opened #147 "Bootstrap tabs best practices"
I've been trying to render tabbed content in this theme. So far I have only been able to incorporate tabs (poorly) through the quicktab module which uses blocks.

Can anyone recommend  a good solution for tabbed content in kalatheme that does not use blocks and keeps the default bootstrap styling.

[2014-09-24 20:22] gremy opened #148 "Include kalatheme.inc in kalatheme_menu_local_tasks()"
I've recently had a problem where the `_kalatheme_associate_parent_tasks()` function was not found when executed from `kalatheme_menu_local_tasks()`.
The solution is to add a `require_once DRUPAL_ROOT . '/' . drupal_get_path('theme', 'kalatheme') . '/includes/kalatheme.inc';` before the `_kalatheme_associate_parent_tasks()` function is called.

[2014-09-24 20:34] gremy commented on #148
The problem is on an older version of Kalatheme. So this issue is not relevant anymore.

[2014-09-24 20:34] #148 closed, assigned to nobody

[2014-09-25 02:33] kolier opened #149 "I think the 'container' class in all panopoly templates should be removed."
Because if in page context, the 'container' class has been added in page template.
But in mini panels or other situation like display suite, this class would break the workflow.
So it seems useless and cause issues.

[2014-09-25 03:03] kolier commented on #149
OK, seems they are only intend to work for page context only.

[2014-09-25 03:03] #149 closed, assigned to nobody

[2014-09-26 23:07] mrausch commented on #140
I was affected by the same issue, using jQuery Update set to jQuery version 1.7 as recommended (and using a custom Bootstrap 3.2 library).
After I changed jQuery version to 1.10 on the jQuery-Update settings page, the issue disappeared, i.e. the collapse button for the navigation works as intended again. Beware though: this might introduce other issues which I cannot foresee right now.

[2014-09-27 02:37] labboy0276 commented on #140
It seems to be a bootstrap 3.2 issue, use this jQuery snippet to address the issue:

( function($) {
  $(document).ready(function() {
    $('.navbar-collapse ul li a:not(.dropdown-toggle)').bind('click touchstart', function () {
      $('.navbar-collapse').removeClass('in');
    });
  });
})( jQuery );

I wrapped it in the proper Drupal JS stuffs.  You can just create a js file in your subtheme an

[2014-09-29 01:50] MetaBureau commented on #129
@schasoli - Amazing! Thank you so much :)

[2014-09-29 12:26] mrausch commented on #140
Thank you for this information. Unfortunately the proposed fix does not work for me. I included it in my theme and now the dropdown menu disappears after clicking on a menu link, but it does not disappear when I click on the collapse button to just close the menu. Instead the menu seems to close for a moment, then it just reopens again.

[2014-09-29 12:34] mrausch commented on #143
I simply override this in my main.css file for my custom theme.

.navbar-fixed-top {
    position: fixed;
}

then it works again. It would be interesting to know though why kalatheme makes it static in the first place.

[2014-09-29 12:38] labboy0276 commented on #140
If your site is on Pantheon or somewhere I can see, please send the link and I can see whats up.

There is some funk in Bootstrap 3.2

[2014-09-29 16:49] pirog commented on #143
not positive but i think this was done because of the navbar module.

On Mon, Sep 29, 2014 at 5:34 AM, Michael Rausch notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-10-12 18:21] schasoli opened #151 "Media queries breakpoints in bootstrap not working properly"
Hello,
somehow I do not get the css breakpoints working properly with a default custom bootstrap 3.2.0 css
@screen-xs  is  set to 480px but col-xs- is used until 920px
@screen-sm is  set to 768px  but col-sm- is used until 1190px with container 750px
@screen-md  is set to 992px  but col-md is used until 1440px with container 970px
@screen-lg    is set to 1200px
So I end up with a 750px container o

[2014-10-13 14:34] pirog commented on #151
Is this not how bootstrap is supposed to work?

On Sunday, October 12, 2014, schasoli notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-10-13 15:35] schasoli commented on #151
hm,
on 800px I would expect screen-sm but get screen-xs
on 1024px I would expect screen-md but get screen-sm
on 1400px I would expect screen-lg but get screen-md

well, I play a bit with the breakpoints now

[2014-10-14 08:15] schasoli commented on #151
strange enough. I ended up with https://github.com/Teachnova/bootstrap and now the breakpoints are working as expected.
adding this after `.make-grid(xs);` in grid.less gives a new grid system for large phones (or small horizontal ones)

I love this

[2014-10-14 08:15] #151 closed, assigned to nobody

[2014-10-14 16:57] pirog commented on #151
Oh very cool! I'll have to check that out

On Tuesday, October 14, 2014, schasoli notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-10-20 12:50] maxplus commented on #140
Hi,
setting jquery version to 1.10 solved the issue for me

[2014-10-20 16:47] pirog commented on #140
1.10 works but also breaks a bunch of panels stuff like the IPE :(

On Monday, October 20, 2014, maxplus notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-10-20 19:40] maxplus commented on #140
Hi Mike,
I know but the javascript posted by labboy0276 did not work for me.

[2014-10-20 19:45] maxplus commented on #143
I did the same as mrausch and that works for me

[2014-10-20 22:24] pirog commented on #140
:( maybe @labboy0276 can work with you to get it working

On Mon, Oct 20, 2014 at 12:40 PM, maxplus notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-10-20 22:26] labboy0276 commented on #140
@maxplus Can you link me to your site?

[2014-10-21 08:34] maxplus commented on #140
Hi John,

the site is http://www.houvanhaar.be.
Thanks for helping me out!

[2014-10-21 09:44] parijke commented on #143
Yes, I also overrode this. That is not the issue. I was wondering why this differs from standard bootstrap and do I have to prepare for more deviations from the standard bootstrap css. Now I had to find out debugging, whichs s quite ineffective.

Forgive me my English, not my native lang

[2014-10-21 12:13] labboy0276 commented on #140
@maxplus The problem is your class in your nav is not changing on click

[code]

That is always staying the same when you click the li > a

[code]

Try removing the leaf class from your links and see if this helps any

[2014-10-21 15:19] pirog commented on #143
Again, I believe this is due to collisions with the navbar module

On Tuesday, October 21, 2014, Paul Rijke notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-10-23 21:07] maxplus opened #152 "Check if page is panelized: $no_panels ?"
Hi,

In Kalatheme's template.php we have:

[code]

This is useful in your own page.tpl.php so can add a container class if you have a page that is not based on panels:
`<div class="column <?php $no_panels ? print 'container' : ''; ?>">`

My problem is that this does not work for a panelized page.
In my use case I would also like to detect that the current page is panelized and in that case don't a

[2014-11-01 15:51] Yanivshp commented on #137
Had the same problem using Panopoly + Kalatheme.

The solution was to set the "Administration theme" to "Default theme" (it was previously set to "Seven").

[2014-11-04 12:26] maxplus commented on #152
Hi,

I have solved my issue by doing this:
1. I have one landing page content type that I used with panelizer; it is called "landingspagina"
2. I wrote a function in my template.php:

[code]
1. in my `page.tpl.php` I have changed

[code]

to this:

[code]

[2014-11-20 16:59] heatherfarrier opened #154 "custom menu"
I am using Kalatheme as the base theme for wrapbootstrap subtheme. I have different site sections (using virtual sites module) and would like to render a different custom menu for each section. I have created the custom menus using the core menu module but I can't seem to get them to render in kt-navbar.tpl.php. I added the page preprocess function to the template.php file and altered the menu.inc

[2014-11-20 19:05] heatherfarrier commented on #154
I had an typo in my theme_theme function which is why the custom menu wouldn't render.

[2014-11-20 19:05] #154 closed, assigned to nobody

[2014-11-21 01:50] katypool-zz opened #155 "Viewport issues with Radix panels layouts"
So the update to Panopoly 1.14 switched panels layouts from the old Panopoly theme to Radix. But the Radix css isn't playing nice with Kalatheme and messes with fixed width. Read all about it here: https://www.drupal.org/node/2379315

Very easily fixable. There needs to be another container div in kalatheme's page.tpl.php in order for it to integrate seamlessly with the Radix layouts.
Now you know

[2014-11-21 15:20] shadcn commented on #155
We had to add the .container wrapper to Radix as well.

See the related issue here: https://www.drupal.org/node/2334871

[2014-11-21 19:45] pirog commented on #155
thanks @arshad!

@katypool any chance we can coax a pull request from you with the container class added as per https://www.drupal.org/node/2334871?

[2014-11-21 19:49] katypool-zz commented on #155
will do

[2014-11-21 21:38] pirog commented on #155
THX

On Fri, Nov 21, 2014 at 11:49 AM, katypool notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-11-25 21:08] reynoldsalec opened #156 "Checkout the 4.x Branch"

[2014-11-25 21:09] reynoldsalec opened #157 "Investigate Tooling in the Master Branch"
@madeofpeople will be taking a look at the master branch and see how we can further clarify the tooling.

[2014-11-25 21:15] reynoldsalec opened #158 "Try out the build process"

[2014-12-04 03:11] #158 closed, assigned to pirog

[2014-12-04 03:11] #156 closed, assigned to reynoldsalec

[2014-12-04 03:17] #114 closed, assigned to nobody

[2014-12-04 03:18] reynoldsalec commented on #141
@shawnholt I'm closing this out since it's been a couple months, but feel free to re-open if you still want the calling card out!

[2014-12-04 03:18] #141 closed, assigned to nobody

[2014-12-12 19:27] heatherfarrier opened #159 "sub-theme bootstrap issue"
Is there an issue when generating more than one subtheme through the admin panel? I have three subthemes that I generated from the admin panel. One of my subthemes is not inheriting bootstrap from Kalatheme nor will it recognize the the custom bootstrap library that I added to /sites/all/libraries/subtheme_bootstrap/. If I manually include a link to the bootstrap CDN, the subtheme works great. Oth

[2014-12-16 20:08] thiagodemellobueno commented on #157
Updates soon, there's a pullrequest in the kalamuna/kalatheme-source, and conversation taking place right this second around how this intersects with some internal kala-work.

[2014-12-16 21:09] pirog commented on #157
Don't wait on me to merge but good to have someone else do the merging.

Let me know if you need help with the testing stuff.

On Tuesday, December 16, 2014, Thiago de Mello Bueno <
notifications@github.com> wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2015-01-02 17:35] heatherfarrier opened #160 "Call to undefined function kalatheme_process_element()"
Fatal PHP errors when I am editing/adding content using kalatheme as the admin theme. I don't receive errors when using the Seven admin theme. Any ideas?

[2015-01-06 20:03] heatherfarrier opened #161 "page not found"
In my 'page not found' report, I keep seeing an error for
sites/default/files/js/kalatheme.map;

I can't figure out where this is being called but I suspect the semi-colon is causing the issue.

[2015-01-07 17:36] #147 closed

[2015-01-11 22:07] sphism commented on #140
I'm having the same problem after just updating kalatheme and panopoly yesterday...

[2015-01-14 19:34] labboy0276 commented on #155
@pirog @reynoldsalec PR put in

[2015-01-14 20:29] pirog commented on #155
not super familiar with the implications here so i defer to others.

if this is relevant lets make sure it gets into the 4x branch (ie kalatheme-source) as well.

[2015-01-14 20:36] labboy0276 commented on #155
fixes all things

[2015-01-20 20:33] dariogcode commented on #144
@npoku, sorry I don't understand what you mean. What is the typo error?

[2015-01-20 20:49] dariogcode commented on #155
I think this change is valid if we use the Radix layout direcly, without trying to override in the Kalatheme tpls.

From the last Panopoly update I noticed the Kalatheme tpl files for layouts (kalatheme\templates\panopoly) aren't overriding the Panopoly theme layouts (radix layouts)

**Previous**
In the kalatheme tpl files for layouts you will notice all use the ".container" class. which make unne

[2015-01-20 21:16] dariogcode commented on #155
Which works pretty good for me is change the name of the tpl in templates/panopoly adding "radix-" as prefix, for example bryant.tpl.php change to radix-bryant.tpl.php

[2015-01-21 13:03] haringsrob commented on #137
@Yanivshp your suggestion helped!

Perhaps we should add this to docs for now?

[2015-01-22 08:48] tomosaigon opened #163 "Warning: call_user_func_array() expects parameter 1 to be a valid callback, function 'kalatheme_run_install' not found or invalid function name in authorize_run_operation()"
Trying out 7.x-4.x-dev today, when trying to "Build and enable a custom subtheme" I get this:

Warning: call_user_func_array() expects parameter 1 to be a valid callback, function 'kalatheme_run_install' not found or invalid function name in authorize_run_operation()

And the subtheme isn't created.

[2015-01-26 08:08] gease opened #164 "Custom bootstrap library not compatible with xautoload"
Xautoload uses hook_custom_theme to load libraries defined in themes. This is definitely not what kalatheme expects - at this stage $theme_key is not yet defined - so kalatheme fails to understand that custom library should be used. And this cannot be fixed without major revisiting of kalatheme bootstrap process (how it loads its .inc files and how custom theme is checked there).

[2015-01-26 17:41] reynoldsalec opened #165 "$site_name doesn't toggle off in the navbar"
When the Site Name is toggled off in Appearance settings, it disappears from the space in the header (aside the logo) but not from the navbar.

If you're interested in proposing a fix for that, checkout how the "element-invisible" class is added to the $site_name in kt-site-header.tpl.php and apply the same approach to the navbar. You can then submit a pull request. I'm guessing @madeofpeople/@rob

[2015-01-28 23:17] pirog commented on #164
does this spit out an error or other relevant message that could be helpful?

[2015-01-29 15:33] gease commented on #164
No error, I think I described above the source of problem (which I discovered with ddebug_backtrace). If you'd like, I can describe what I've found in personal communication.

[2015-02-10 23:37] UTANdev opened #166 "Overriding kt-navbar.tpl.php"
I don't like the way Kalatheme slaps a Home link with the site name at the beginning of the main navigation. I placed a modified copy of kt-navbar.tpl.php in my subtheme's root and cleared cache, but there's no effect. What am I missing?

[2015-02-16 03:29] drewhendricks commented on #163
We are getting this same error.  Did you ever find a solution?

[2015-02-21 06:43] aDarkling opened #167 "UI subtheme generation ends with error"
Installed Kalatheme 4.alpha on a new plain Drupal Installation with panapoly_theme, jquery_update, and views installed.

Tried to create a subtheme.  It took me to a page requesting ftp information.  After I supplied it, it went back to admin/appearance & gave this error:

Error message Warning: call_user_func_array() expects parameter 1 to be a valid callback, function 'kalatheme_run_install' not

[2015-02-24 18:05] solipsist opened #168 "Errors after upgrading: Kalacustomize not checking whether variables are set"
**( ! ) Notice: Undefined index: devices in /var/www/abc/sites/all/themes/kalatheme/styles/kalacustomize/kalacustomize.inc on line 89**

1. Installed latest version of Kalatheme.
2. Upgraded Panopoly to latest version.

Now when I try to change the style of a pane styled with the Kalacustomize plugin, I get the error message above. Been trying to locate the error by tracking the changes but it's s

[2015-02-24 18:32] Iceabenezer commented on #163
Same issue here. Can't do this manually or through the UI

[2015-02-25 16:18] solipsist commented on #168
I've fixed the issue and it seems to be due to Kalacustomize not checking whether variables were set. This seems to happen when you do what I did, upgrade from a previous version and using old pane style settings.

The attached patch affects Kalatheme and Panopoly Magic. I've submitted the patch to the Panopoly issue queue as well.

[code]

[2015-03-04 20:12] npoku commented on #166
It worked for me. How did you flush out your cache? And what I did was I kept the same file structure as Kalatheme had it. So I placed my file in Subtheme > templates > bootstrap > kt-navbar.php.

You might have to create some of the folders in the suggested path above.

[2015-03-04 20:33] UTANdev commented on #166
I tried your suggestion and it works, but then moved my template back to its original location (subtheme root), cleared caches, and my template also gets picked up at that location. So I don't know what happened between 22 days ago and now, but the issue is closed.

[2015-03-04 20:33] #166 closed

[2015-03-05 04:23] aDarkling opened #170 "Cannot read property 'fontawesome' of undefined"
Sorry, I don't have time to make patches right now.  The fix to this bug is at the end of this report.

I installed Kalatheme 4 on a site with CKEditor module installed and then I tried to place an image in a text field using the Media plugin.
The Media Browser came up as usual.
I selected the image I wanted.
A new modal came up showing the image & a form input to select which view mode I wanted t

[2015-03-05 04:28] aDarkling opened #171 "ReferenceError: eval_ is not defined"
Sorry, I don't have time to make patches right now. The fix to this bug is at the end of this report.

I installed Kalatheme 4 on a bare site with the Media plugin.
The bug occurred when I tried to add a file through "/file/add".  When I try to upload I get this error:

"ReferenceError: eval_ is not defined"

this error traced to line 67 of dist/js/kalatheme.pkg.js.  I fixed it by changing both in

[2015-03-08 05:43] npoku opened #172 "WSOD if kalatheme_grid_size is included in panels layout"
Hi gang,
I'm seeing a weird problem here. As soon as I add the kalatheme_grid_size as part of my div class, panels goes crazy and doesn't allow me to switch layouts by giving me the white screen of death. This happens on all layouts. For example, I took a fresh radix layout, and instead of `<div class="col-md-12 radix-layouts-header panel-panel">`, I replaced it with:
`<div class="col-md-<?php pri

[2015-03-13 01:31] GuiguiSurLinux commented on #160
Using the latest 7.x-4.x commit  I don't, I don't seem to have this error when editing (very basic) content, but this same error seems to be in the way of creating features (gives a WSOD). I'm sure this is just one of many places where it can turn up but that's where I saw it.

Here's the apache log:
    [Thu Mar 12 20:47:25 2015] [error] [client x.x.x.x] PHP Fatal error:  Call to undefined functi

[2015-03-13 01:48] andrewmallis commented on #160
WSOD on features can happen if jQuery update's set too high.

4.x is a bit unstable and contains experimental code we are parsing out to move into the main line of development instead.

[2015-03-13 01:51] GuiguiSurLinux commented on #160
It's at 1.7, which is the minimum I can set it to.

I tried after commenting out the function calls and no WSOD.

No complaints on the stability, it is to be expected :)

[2015-03-13 02:05] andrewmallis commented on #160
The function seeks to make form elements more inline with boostrap's.
Nothing bad from commenting it out

[code]

not qualified to recommend a proper fix

[2015-03-13 02:17] GuiguiSurLinux commented on #160
After further testing, the error only happens when the admin theme is NOT kalatheme. Therefore it might be enough to just check whether kalatheme is the current theme (even though I would assume Drupal does this by default?). A quick fix for those with this error is to set Kalatheme as your admin theme.

[2015-03-13 12:24] korzh-nick commented on #167
If you select the Bootstrap library. as the default, then the problem can be avoided

[2015-03-14 03:50] GuiguiSurLinux commented on #112
Still have this error (7.x-4.x). The error is in includes/views.inc line 47 and 58.

I don't know where responsive toggle is supposed to come from (it's never in options?), but rewriting the code to use empty() instead of "!" will make the error go away. However I'm sure responsive_toggle is supposed to be a thing in the first place, so I don't know that this is a fix. I would submit a pull reques

[2015-03-14 03:51] GuiguiSurLinux commented on #112
Sorry, didn't mean to unassign, not sure how that happened.

[2015-03-16 03:43] npoku commented on #121
@maxplus last post really helped me out. Loved the logic. Ended up injecting the header + footer via his method.  👏👏

[2015-03-19 14:08] murraybiscuit commented on #112
The preprocessing function is looking for a var that's supposed to be set in the Kalatheme bs grid Views style override. This isn't being set for two reasons:
- Kalatheme bootstrap grid isn't overriding the default Grid views plugin.
  Line 31 in kalatheme/includes/views.inc

[code]

It's being called, but I'm not sure why it's not overriding the default.
- In the plugin override file itself:
  /v

[2015-04-07 06:15] maxplus commented on #155
Hi tilon,

The old Panopoly 1.13 layouts worked perfect together with Kalatheme and so I was a little bit lost with the new Radix layouts because they have built in the default 12 columns grid and do not support to use a (for example) 24 columns grid.

=> now by changing the tpl name of the layout files (included in the templates folder of my custom theme, copied from the Kalatheme base folder) by

[2015-04-23 18:11] GuiguiSurLinux commented on #155
This is also occurring in v4. See PR 174.

[2015-05-07 20:46] jannickfahlbusch opened #175 "Theme-Search"
Hey,

i know, this ticket may sound a little bit strange.

I'm searching a theme from Kalatheme, wich i used before my website went down. Sadly i don't remember the settings i did in Kalatheme...
I'm googled a while but there seems no way to find it.

I'm asking for your help, to identify it.
![1](https://cloud.githubusercontent.com/assets/8135397/7525480/10f7495a-f50a-11e4-94de-9fcb6419a9d9.jpg)

[2015-05-07 23:00] reynoldsalec commented on #175
Hey @jannickfahlbusch, that looks like the [Amelia theme](http://bootswatch.com/2/amelia/) from Bootswatch. Hope that helps!

[2015-05-14 17:23] jannickfahlbusch commented on #175
Thank you! That is exactly what i searched :+1:

[2015-05-14 17:23] #175 closed

[2015-05-26 19:56] aangelinsf opened #176 "Malformed URL getting library"
Sometime over the weekend Bootswatch API starting returning https: for its urls. In template.php, that breaks the following:
        drupal_add_css($base['scheme'] . ":" . $css, 'external');

A workaround for me is:
      if (strpos($css, 'http') <> 0) {
        drupal_add_css($base['scheme'] . ":" . $css, 'external');
      }
      else {
        drupal_add_css($css, 'external');
      }

[2015-05-27 03:57] pirog commented on #176
Nice! great to know.

@labboy0276 @soniktrooth maybe one of you guys can hit up a quick PR for this?

[2015-05-27 20:48] reynoldsalec commented on #176
Just confirming that other folks have had this issue and that a quick fix would be nice to allay the pain.

[2015-05-27 20:50] soniktrooth commented on #176
@reynoldsalec @pirog I will look into it this afternoon.

[2015-05-30 21:04] pirog commented on #176
I think @soniktrooth has dealt his judgement unto this issue and its fixed in dev now.

[2015-05-30 21:04] #176 closed

[2015-06-05 13:31] tommycox opened #179 "Division by zero when responsive grids enabled and responsive tier left empty"
For Views grids, if "Use different number of columns on different devices" is selected and a field is left empty then this warning occurs: Warning: Division by zero in kalatheme_preprocess_views_view_grid() (line 51 of /var/www/playbox/sites/all/themes/kalatheme/includes/views.inc)

[2015-06-09 04:33] maxplus commented on #160
Hi,
I'm using 7.x-4.0-alpha1 and I have this issue only when I edit a Message Type and try to translate it.
After I use the dropdown to switch the field language and try to save the message type, I receive the fatal error "Call to undefined function kalatheme_process_element()"

I have tried to comment out the function "function kalatheme_process_element(&$element, &$form_state)" but that does not

[2015-06-09 04:39] maxplus commented on #160
Hi Guys,
I have read this comment on the Bootstrap theme issue que, and it solved my problem: https://www.drupal.org/node/2156371
=>  PHP config variable max_input_vars from 1000 to 1200 solved the problem for me.

[2015-06-09 13:59] #179 closed

[2015-06-18 21:04] GuiguiSurLinux commented on #176
I think this stll needs to be fixed in 4.x

[2015-06-22 17:18] pirog commented on #176
@soniktrooth? i thought you merged this into 4.x as well? maybe im thinking of something else such as how awesome taylor swift is?

[2015-06-23 23:55] soniktrooth commented on #176
I thought it was as well. You keep thinking about TS and I'll track down what happened.

[2015-06-24 00:38] soniktrooth commented on #176
Sorry @gboudrias it looks like there's something up with hubdrop so this never got pushed to drupal.org. This commit (https://github.com/drupalprojects/kalatheme/commit/62fa410d0804b056b80858bb7bb3c177787b606f) was merged here already but needed a little extra help to make it onto d.o. It should be up there now.

[2015-06-25 01:31] GuiguiSurLinux commented on #176
Awesome, keep up the great work guys!

[2015-06-25 18:05] soniktrooth opened #183 "theme settings page submission errors"
Situation:
In logo image settings 'Use the default logo' is checked therefore the rest of the fieldset is hidden, however if there is still a value in the 'Path to custom logo' field then we fail validation with `The custom logo path is invalid.` Despite this error when the form reloads the fieldset is collapsed, obscuring the highlighted error field.

Solution:
• Add extra logic to the validation

[2015-06-25 19:08] soniktrooth commented on #119
I think this may be related:

When trying to generate a sub theme  nothing happens unless kalatheme is selected as the admin theme.

[2015-06-25 19:13] soniktrooth commented on #119
@labboy0276 suggested we could set the admin theme to kalatheme when it gets enabled: https://www.computerminds.co.uk/articles/setting-default-theme-during-installation

[2015-07-06 02:25] shawnholt opened #185 "Support Question: How does this compare to the Drupal Bootstrap Module?"
I see a lot of traction with the drupal bootstrap module: https://www.drupal.org/project/bootstrap , but there have been no recent stable releases and many issues.  How is Kalatheme different?  Why are issues/statistics/etc. not on drupal.org like most modules?  Are the statistics accurate?

IMO I think it would get a lot more consideration if it were more active there.

[2015-07-06 12:53] labboy0276 commented on #185
Hi Shawn,

I have used the bootstrap theme in the past.  From what I remember about it, it is just a typical bootstrap plug and play theme.  Which is fine if that is what you need.  Kalatheme is more robust then just a plug and play theme.  The laundry list is long, but I suggest you read this:

https://github.com/drupalprojects/kalatheme/wiki

The reason the module doesn't have issues on DO anymo

[2015-07-06 14:42] shawnholt commented on #185
Thanks @labboy0276 for the prompt and thoughtful reply.  I do hope that drupal migrates to/syncs with github.

**I'm still a bit puzzled if stats are correct.**  There are very few bootstrap - drupal base theme options.  Given how much more robust, stable and actively developed kalatheme is, **I'm really curious why stats show 1K vs. 65k installs!** Is this just a marketing problem or are there ot

[2015-07-06 15:12] labboy0276 commented on #185
Hello Again

The installs vs downloads dilemma has always been an issue.  The stats themselves can be questionable as a lot of sites do not use the update module.  I would look at downloads vs installs.  Also, bootstrap theme itself has been around for over 5 years longer then Kalatheme.  If I remember right, they were one of the first Bootstrap themes and so, they had a good running start.  Also

[2015-07-06 17:15] pirog commented on #185
Kalatheme was built specifically for panels/panopoly whereas Bootstrap is more generic. Kalatheme also splits the Bootstrap-for-panels market with Radix.

The Bootstrap project is not panels specific and of course having the Bootstrap namespace helps a lot.

Another thing to note re: Bootstrap the framework and the ongoing development of a lot of the drupal bootstrap themes is that because Drupal

[2015-07-14 19:30] RobLoach commented on #185
Yup! The latest [Bootstrap theme](https://www.drupal.org/project/bootstrap) recommends using jQuery 1.9+ through jQuery Update, and is compatibile with the latest version of Bootstrap (either through CDN, or [Bootstrap Library](https://drupal.org/project/bootstrap_library)).

Correct. All third-party support related to the Bootstrap theme are off-loaded to supporting modules, like [Panels Bootstra

[2015-07-14 20:26] vouko commented on #137
Thanks @Yanivshp. I just lost the last couple hours on this. You saved the rest of my day.

I highly suggest fixing this or adding to docs...

[2015-07-27 22:35] heatherfarrier opened #187 "Add panelized region between two hard coded regions using one-region approach?"
We are using Kalatheme with Panopoly and radix layouts. The home page (and some subpages) design calls for a persistent top nav bar, a banner region, main navigation region and the content region. See attached layout for visual explanation.

![layout](https://cloud.githubusercontent.com/assets/8184593/8919434/2bb5470c-3474-11e5-8da4-286b17595295.jpg)

We want the top nav and main nav regions to re

[2015-07-28 13:43] pirog commented on #187
Do to this i think you would want to have the main nav hardcoded into the layout for the page It's really not the best way to go about this but not sure of another way.

[2015-07-28 14:01] heatherfarrier commented on #187
That's what I thought. I was trying to find a way to continue using one-region because a lot of work has already gone into the existing theme. Unfortunately, we will have to reconsider this approach. If I come up with an alternative solution, I will post back.

[2015-07-28 14:08] labboy0276 commented on #187
I have done something quasi similar to this with another client.  However, you can only have the Persistent top nav in code (in page.tpl).  then you need to use a custom panel pane to create the other nav.  The problem is, it is too difficult to split out the content at the page.tpl then have the layout template wrap around that.

There are more alternatives too, like using hook_theme to render th

[2015-07-28 14:49] heatherfarrier commented on #187
I found this approach: https://gist.github.com/jameswilson/74c2dc3ee2df0efc2a5c

However, it's my understanding that drupal_add_region_content() was not intended to place content in the theme but rather for use during the install and update process.

I will look into using hook_theme and hook_theme_registry_alter.

[2015-07-30 19:08] tchopshop opened #188 "subtheme_bootstrap library does not load"
I want to manually load my bootstrap library and it's not working. I have checked all the paths and directories and the version of bootstrap. Nothing works.

[2015-07-30 19:10] andrewmallis commented on #188
Please describe what you have tried, confirm your paths, and your methods for including bootstrap. Please also specify the versions of Kalatheme, Boostrap, and jquery_update you are running.

[2015-07-30 19:19] tchopshop commented on #188
Below are screenshots of directory for bootstrap library and of theme settings for my sub theme, which shows jquery version. Bootstrap v3.3.4. Kalatheme 3.1

![screenshot_65](https://cloud.githubusercontent.com/assets/1149398/8992599/1715efa6-36c5-11e5-93d5-884277f43da0.png)

![screenshot_66](https://cloud.githubusercontent.com/assets/1149398/8992660/650dd2fa-36c5-11e5-88b4-f52ec2f0b2da.png)

[2015-07-30 19:21] labboy0276 commented on #188
Try switching your admin theme to seven to see if the lets you build a custom subtheme.  Also, try setting jquery version to 1.7 for the backend if that doesn't work.

[2015-07-31 04:53] ForestMars commented on #17
What was the solve for this issue? I just tried on 3 different installations, including an install of 7.38 with nothing except panels, views, libraries, etc, and Kalatheme was throwing this fatal error as soon as it was enabled.

[2015-07-31 04:54] andrewmallis commented on #188
where is `baseline_boostrap` located, exactly?
have you created a subtheme of kalatheme?

[2015-07-31 04:57] andrewmallis commented on #17
@ForestMars are you getting

`Fatal error: Class 'views_plugin_style' not found`

please confirm Kalatheme version

[2015-07-31 15:06] tchopshop commented on #188
I don't want to be forced to make a custom subtheme via a ui. Do I have to?
I have a theme called baseline in sites/default/themes that was using radix, I changed the parent theme to be kalatheme.

[2015-07-31 15:29] labboy0276 commented on #188
You don't have to do it, but it is fairly painless.  Also, usually you don't put any modules or themes in sites/default unless you are running a multisite.  Are you running a multisite?

Can you post your subtheme .info file here please.  Then I can probably see why it isn't working for you.

Also where did you put the baseline_boostrap library.

[2015-07-31 15:34] tchopshop commented on #188
I'm sorry I mis-wrote... it's in the normal place... sites/all/themes... I'd never put a theme in "default". baseline_bootstrap is in libraries at sites/all/libraries --- where else would it go?

Here's the info file. Very basic.

![screenshot_68](https://cloud.githubusercontent.com/assets/1149398/9010911/84106942-376f-11e5-89e5-9a429981aef8.png)

[2015-07-31 15:42] labboy0276 commented on #188
It wouldn't go anywhere else usually, so you win.

This all looks ok to me.

So this theme isn't showing up in your appearance section?  Have you tried the usual stuff: drush cc all, drush rr, etc

[2015-07-31 15:46] tchopshop commented on #188
No, the theme is showing up fine, but it isn't loading bootstrap css or js files from the library, so it's very ugly.

I can load the files via the bootstrap library module, but was trying to do it your way.

[2015-07-31 15:50] labboy0276 commented on #188
is it just not showing the bootstrap css / js in the admin / backend or is it throughout the site?

[2015-07-31 15:58] tchopshop commented on #188
Throughout the site. I've tried different permissions for the libraries folder too.

[2015-07-31 16:03] labboy0276 commented on #188
Is there any errors in your watchdog or console logs that are not worthy?

Have you tried an older version of bootstrap, like 3.2?

What version of jquery update are you running?

[2015-07-31 19:03] tchopshop commented on #188
Thank you for all your incredible responsiveness. I'm just having to move very fast on this and the problems weren't making me feel good about it. I'll probably test it again later on a pristine site, rather than one that is already mostly built.

Even more importantly (because I could use bootstrap library module to load the bootstrap files) was that I also couldn't get menu outputted anchor link

[2015-07-31 19:10] labboy0276 commented on #188
Can you try and use the subtheme installer to see if it just works?

Trying to pinpoint what is wrong, it is hard when I cant see the code or logs.  What version of jquery_update are you using?

[2015-08-04 20:32] andrewmallis commented on #167
Our alpha is still in flux and a bit of an experiment, sorry for the rough patch. We'll be looping back around to 4.x soon.

[2015-08-04 20:37] soniktrooth commented on #164
@gease This isn't really on our radar at the moment but we would definitely check out  patches if you have the time for that. If you are going to do that can you comment to let us know what version of KT you would be working on.

[2015-08-04 20:52] #113 closed

[2015-08-04 21:02] soniktrooth commented on #145
@pirog Do you know if there's a way we can have 4.0 show up as a dev release without it being 'supported'? I tried unchecking the 'supported' checkbox on the d.o theme page settings but it removed 4.0 entirely.

[2015-08-04 21:02] andrewmallis commented on #145
Tried marking 7.x-4.0-alpha2 as unsupported for now, to better reflect the state of affairs.
<img width="550" alt="google__hangouts" src="https://cloud.githubusercontent.com/assets/249362/9072625/208ea2fe-3ab1-11e5-834b-a53148adf66c.png">

but this removed 7.x-4.x-dev from https://www.drupal.org/project/kalatheme

![kalatheme___drupal_org](https://cloud.githubusercontent.com/assets/249362/9072646/

[2015-08-04 21:07] labboy0276 commented on #145
@andrewmallis you have to do show snapshot release

[2015-08-04 22:49] andrewmallis commented on #132
@labboy0276 that gist is broken. Is this issue still relevant or resolved in 7.x-3.1?

[2015-08-05 00:12] pirog commented on #145
AFAIK you cant do this without also indicating the version as supported.

That said listing an alpha version as "supported" is pretty common for a drupal project. The bigger thing is to not list it as the recommended release if its not ready for prime time.

Seems like the issue here is more not understanding what drupal.org means by "supported" which is "people are actively working on the version

[2015-08-08 05:20] andrewmallis opened #189 "support Bootstrap A11y plugin"
https://github.com/paypal/bootstrap-accessibility-plugin
makes many elements more accessible.
We've contributed to this.

Why not include it defacto if we're going to be a BS theme?

[2015-08-11 03:15] kenrbnsn opened #190 "Kalacustomize documentation"
I am using Kalatheme for the first time and I've been searching for documentation on how to add styles to Kalacustomize. Everything says you can easily add styles, but nowhere is there a "how to".

Thanks in advance.

[2015-08-11 16:43] soniktrooth commented on #190
@kenrbnsn Is this what you're looking for? https://github.com/drupalprojects/kalatheme/wiki/Styles-Plugin

[2015-08-13 17:22] soniktrooth opened #192 "main links source menu is hardcoded"
The following code lives in kalatheme_process_page(). It is rendering the core 'main-menu' menu which is then printed in page.tpl as the main links. This is incorrect. What should be happening is this:

1. get site variable for main links source as set in config.
2. pass THAT menu name to menu_tree_all_data()
3. ???
4. Profit

[code]

[2015-08-14 14:10] kenrbnsn commented on #190
That helped. I had seen it before, but it didn't make any sense. The screen shots are too small to be seen on a laptop screen & they can't be enlarged.

[2015-08-14 14:10] #190 closed

[2015-08-14 20:05] labboy0276 commented on #170
I tested this and it works @soniktrooth

[2015-08-19 21:12] pirog commented on #192
+1 this def seems much better

[2015-08-25 16:43] ellastelter opened #195 "Admin menu preventing left clicking with subthemes"
After I build a subtheme I can no longer left click on anything, and must right click, open in new window to navigate.  I can't use buttons at all.  I tried used a third party bootstrap library and then Cosmos, but I am still having the issue.  The only thing that responds is the top layer of the admin menu.

If I am not logged in, things seem to work just fine.

I am going to continue troubleshoo

[2015-08-25 16:48] labboy0276 commented on #195
Hello again

So, this is a JQuery Issue and a Bootstrap issue.  I would try 2 things here:
1. Update Jquery Update to 3.0-alpha2.  Set the JQuery version to 1.10 and click to enable the JQuery Migrate.  If that doesn't work...
2. Try using a Bootstrap 3.2 library instead.  I can email you one if you can;t find one.

[2015-08-25 21:31] ellastelter commented on #195
#1 worked for me.

I have Panopoly, which warns me against manually updating module included in the distribution, but it hasn't caused me any issues so far.

Thanks again!!

[2015-08-25 21:36] labboy0276 commented on #195
No problemo

[2015-08-26 19:41] andrewmallis commented on #155
@madeofpeople – take a look svp?

[2015-08-27 06:07] andrewmallis opened #196 "provide a consistent testing platform"
There is a Pantheon space we all use to work on / demo this thing as a baseline. Right? It's documented somewhere, right? Right here, we'll do it right.

[2015-08-27 12:43] labboy0276 commented on #132
Negative

[2015-08-27 12:43] #132 closed

[2015-08-27 12:45] labboy0276 opened #197 "JQuery + Kalatheme"
I think we should make a string effort to get Kalatheme to work with some of the latest JQuery Version without having to jump through bells and whistles.

We should also include support for JQuery 2.x.  Right now when yo switch to a 2.x branch, Kalatheme says no thanks.

Anywho, Right now to get Kalatheme to work with say 1.10, you have to use JQuery Update 7.x-3.0-alpha2.  Turn on JQuery Migrate

[2015-08-27 18:51] soniktrooth commented on #196
@andrewmallis your posts are starting to get a Dr Seuss vibe again...might be time to go to bed.

[2015-08-27 18:51] soniktrooth commented on #195
Sounds like everyone is happy. Closing.

[2015-08-27 18:51] #195 closed

[2015-09-01 17:05] labboy0276 commented on #112
I am seeing this again in 3.1 gonna try and fix this real quick like

[2015-09-01 19:49] soniktrooth opened #200 "Views replacement patterns"
I've seen this on a few projects now.

It has something to do with the theme function for textareas being different from other form inputs.

In kalatheme_process_input() we are adding `form-control` class to the #attributes array which seems to get put on the input in most cases but for textarea it seems to go on the wrapper which then breaks things.

I have implemented a css only fix on HSU which

[2015-09-02 20:00] andrewmallis commented on #196
We have a Pantheon project here:
https://dashboard.getpantheon.com/sites/22721f55-ed10-b5ac-2ec0-17916daff0b9#dev/code

http://dev-kalatheme.gotpantheon.com
but this is out of date.
We should aim to have a
http://test-kalatheme.gotpantheon.com/
and maybe a stable LIVE demo we can link to on the project page?

[2015-09-02 20:14] andrewmallis commented on #142
@tolusonaike – are the overrides causing any problems?

[2015-09-02 20:18] thiagodemellobueno commented on #140
@robloach, I believe we have a fix to this involving jquery update, and some cleverness?

[2015-09-02 20:19] andrewmallis commented on #164
https://www.drupal.org/project/xautoload is not on our radar

[2015-09-02 20:19] #164 closed

[2015-09-02 20:24] RobLoach commented on #197
jQuery Update 3.x is still in alpha. Should jQuery Update default to using the latest 1.x, and use jQuery Migrate?

[2015-09-02 20:26] RobLoach commented on #163
@tomosaigon @Iceabenezer Are you still running into this issue? Is it persistent on the 3.x branch?

We are considering deprecating 4.x and bringing any of the highlighted changes back.

[2015-09-02 20:28] thiagodemellobueno commented on #136
This will likely resolve #143, no?

[2015-09-02 20:30] thiagodemellobueno commented on #129
@soniktrooth do you think we should provide this as default behavior?
It is "a bootstrap theme" afterall.

[2015-09-02 20:31] labboy0276 commented on #197
Yes, we should at least get this stable on 1.10 / 1.11 and the latest bootstrap 3.3.5 with no weird sadness. @RobLoach

[2015-09-02 20:31] andrewmallis commented on #85
4.x will take a new direction. This task is no longer required

[2015-09-02 20:31] #85 closed

[2015-09-02 20:32] andrewmallis opened #201 "update 4.x roadmap wiki page"
Our roadmap is out of date. We should get back on the map.

### QA
https://github.com/drupalprojects/kalatheme/wiki/kalatheme-4.x-roadmap

[2015-09-02 20:33] thiagodemellobueno commented on #90
Is this perhaps an issue of having the .container class a default property of layouts, and not part of page.tpl ?

Then selectively centering panels in layouts becomes possible, but going full width doesnt require effortful workarounds?

[2015-09-02 20:37] labboy0276 commented on #37
Passing on this one, if the need arises again in the future, we shall reopen.

[2015-09-02 20:37] #37 closed

[2015-09-02 20:40] labboy0276 commented on #33
@soniktrooth is this issue still an issue?

[2015-09-02 20:40] thiagodemellobueno commented on #109
@soniktrooth @RobLoach this is in line with some of our sass boilerplate and kalastatic efforts, still a little documentation would be 'good enough for now' and an easy win.

[2015-09-02 20:42] #103 closed

[2015-09-02 20:44] thiagodemellobueno commented on #146
For accessibility we may want to have it be an 'either or' (sometimes you want to keep important content but hide from visual browsers).

[2015-09-02 20:45] soniktrooth commented on #144
We are leaving the menu depth at 2 but I have added a page that describes how to extend this from a sub theme.

[2015-09-02 20:45] #144 closed

[2015-09-02 20:46] katypool-zz commented on #133
Think we can close this out as #134 is merged

[2015-09-02 20:46] #133 closed

[2015-09-02 20:52] #187 closed

[2015-09-02 20:52] thiagodemellobueno commented on #188
Closing due to no reply.

[2015-09-02 20:52] #188 closed

[2015-09-02 20:53] RobLoach commented on #200
Is it a conflict the CSS? Some CSS that we're adding that conflicts with the Views UI?

[2015-09-02 20:57] soniktrooth commented on #137
This is a duplicate of #119

[2015-09-02 20:57] #137 closed

[2015-09-02 20:58] andrewmallis commented on #143
closing in favor of #136

[2015-09-02 20:58] #143 closed

[2015-09-02 21:00] thiagodemellobueno commented on #155
Seems like using the radix layouts in panopoly is the way to go.
So @tilon 's suggestion is valid, but we shouldnt really duplicate those files so much as make the templates available to kalatheme?

[2015-09-02 21:01] andrewmallis commented on #185
let's roll some of this into the wiki, perhaps in https://github.com/drupalprojects/kalatheme/wiki/Tips,-Tricks,-and-FAQ

[2015-09-02 21:09] labboy0276 commented on #159
Most likely has to do with issue #119

[2015-09-02 21:10] soniktrooth commented on #159
Closing as a duplicate of #119

[2015-09-02 21:16] andrewmallis commented on #196
also pointing to https://kalamuna.atlassian.net/wiki/display/KALA/rebuilding+distros
which could be useful (or not) if we want to test kalatheme against Panopoly BEFORE they release new versions.

[2015-09-02 21:17] soniktrooth commented on #168
@solipsist Did you submit this patch to the panopoly issue queue? If so please link us to it so we can move forward on this issue

[2015-09-02 21:46] andrewmallis commented on #196
@pirog notes that the DEV environment of
https://dashboard.getpantheon.com/sites/22721f55-ed10-b5ac-2ec0-17916daff0b9#dev/code
is what is serving up

http://kalatheme.kalamuna.com

and that this has traditionally been set to sFTP mode so that subthemes can be generated.

[2015-09-03 08:45] solipsist commented on #168
Here: https://www.drupal.org/node/2437979

I haven't tested dsnopek's patch however.

[2015-09-03 17:31] soniktrooth commented on #168
@solipsist  I can't replicate this issue.

After doing a bit of digging I can see that some code has already been added that is similar to what you are proposing.

Line 26 & 27 of kalacustomize.inc currently looks like this:

[code]

This is jus an inline version of what you were proposing for that part of the code. I think this may have been enough to make sure empty attributes aren't being passe

[2015-09-04 15:17] UTANdev opened #202 "Adding a sidebar region to Kalatheme"
I love how Kalatheme easily brought me into the Panopoly+Bootstrap world!

## Scenario

My current project, however, requires a traditional sidebar on most inner pages.

## Approach 1

In the IPE, I can place sidebar content inside one of the layouts which feature a right column.

### Problems

This approach greatly limits the number and usefulness of layouts available to content editors:
- Layout

[2015-09-04 17:56] labboy0276 commented on #202
This is a one region theme, we won't add a region to the theme itself.  It defeats the purpose of the theme.

Just use your own layout plugins and you should be good.  We do it all the time, no need to pay for them, takes a couple minutes to make one.  If you need help with that, ping us back here and I can write how to do it real quick.

[2015-09-04 22:53] UTANdev commented on #202
Oh, I wasn't asking for Kalamuna to add the region. I understand your theme's philosophy; adding a region would dilute it. I was asking for myself: I want to add a region and, since this is my first attempt at responsive anything, was asking for guidance.

As for layout plugins, I do know how to create them (I've done one for the home page) and they're _fun!_ However, I can't justify coding a side

[2015-09-04 23:33] labboy0276 commented on #202
Oh OK,

My apologies.  I guess I didn't fully understand what you are trying to do.

Yes you an include containers within containers.  This explains the Bootstrap Grid system:

http://getbootstrap.com/css/#grid-example-basic

Other than that, I would just create the layouts and tell the client not to use the Radix / Panopoly ones and to only use the ones you created.

[2015-09-05 02:22] andrewmallis commented on #202
In your subtheme, you can create new layouts:

`sites/all/themes/mytheme/layouts/page/my-custom-layout/`

which will contain

**my-custom-layout.inc**

[code]

**my-custom-layout.tpl.php**

[code]

The sidebar isn't conditional above, but the footer is.
I don't advise a conditional sidebar.
Rather provide a different layout completely.
It will save you headaches.
Don't extend every variation, or y

[2015-09-10 23:31] soniktrooth commented on #105
I had very similar issue with @madeofpeople recently upgrading from an older rc to 3.1. I traced it through at the time and it was failing on:

[code]

So `$library` was empty and it never went inside the `if` to add the css/js.

Saving the theme page caused the 'bootstrap_library' var to get saved and then everything was honky dory.

[2015-09-10 23:39] thiagodemellobueno commented on #105
It's true!

[2015-09-10 23:44] soniktrooth commented on #105
Reading this makes me think that there's actually no nice way to react to a theme being updated.
 http://adaptivethemes.com/documentation/how-to-uninstall-or-re-install-adaptivetheme-7x-3x-sub-themes

[2015-09-11 00:17] soniktrooth commented on #105
Ok, here's my idea:

[code]

So basically, we're pulling in the text in the theme's .info file, checking the version against the stored one and running whatever code we need if it's different.

@labboy0276 @pirog I have two questions though:
1) is this stupid to be doing on every page load?
2) what is the code that we want to actually run if we discover the theme has been updated?

[2015-09-11 00:54] thiagodemellobueno commented on #105
Can it be hooked to something like when the theme registry is cleared?
Or on cache clear?
`drush up kalatheme`?
(Ie. things that happen when the theme is updated).

[2015-09-14 18:53] soniktrooth commented on #105
@madeofpeople There isn't a straight 'cache clear' hook in D7 that can be called from a theme. [hook_flush_caches()](https://api.drupal.org/api/drupal/modules!system!system.api.php/function/hook_flush_caches/7) is meant for adding tables to the cache that is to be cleared and—while it would be a good spot for this code—it can only exist in a module.

@pirog and @labboy0276 do you guys have any opi

[2015-09-14 19:17] labboy0276 commented on #105
http://data.agaric.com/how-reset-theme-registry

[2015-09-14 19:24] soniktrooth commented on #105
@labboy0276 I'm not sure how that's relevant. We're trying to find a way for Kalatheme to know when it's been updated so that we can adjust theme variables.

[2015-09-14 19:30] labboy0276 commented on #105
I just read the last comment and sent that off sorry.

[2015-09-14 19:37] soniktrooth opened #203 "Can't add custom library to existing subtheme"
I tried uploading a custom bootstrap library and nothing happened.

For starters it seems to want a zipped file. Uploading anything else seems to make it crash and burn. We should adjust the help text to make this clear.

After uploading a zip I assumed it was going to copy css out of the zip file and stick it in the theme but it seems nothing happens.

[2015-09-14 19:38] soniktrooth commented on #123
@jtjones23 I believe your issue relates to #203 and not to this issue.

[2015-09-14 19:42] soniktrooth commented on #203
@pirog can you confirm for me that this is the expected behaviour? Is there some sort of folder convention that needs to be followed? I noted that it says in the help text disclaimer that it doesn't work well with all libraries. I used a http://startbootstrap.com one—bad idea?

[2015-09-14 20:00] soniktrooth commented on #203
Ok, I think I got the hang of what's going on here. It seems you have to check 'Build and enable a custom subtheme' in order for this to work. So it would seem that the real issue is that you can't add a custom library to an existing subtheme.

[2015-09-14 20:44] soniktrooth commented on #123
I can confirm that kalatheme_backend_check() is checking whether the update module exists along with server related checks to see if we can do our stuff:

[code]

In kalatheme_backend_check_form() line 91 kalatheme_backend_check() is being used and then error messages about webserver config are being output if it returns `FALSE`. This seems far too vague a message for just the webserver related st

[2015-09-14 21:02] soniktrooth commented on #123
So, I just noticed also that these messages are often printed out as part of the form itself rather than using drupal_set_message() so perhaps that could help us solve the issue of vague messages.

[2015-09-14 21:35] soniktrooth opened #204 "Improve how kalatheme detects if modules and libararies paths are writeable"
While looking into #123 I came across kalatheme_has_write_access() and kalatheme_lib_dir()

These functions seem a little fuzzy to me and I have questions for @pirog or anyone who knows better.

[code]
Why do we ever need to check if the modules dir is writable? What are we writing to the modules dir and why? My understanding was that if your module's dir is writable you got some serious security

[2015-09-14 21:41] #159 closed

[2015-09-15 03:47] andrewmallis commented on #204
the subtheme should write to sites/all/themes generally – that said we assume.
`$theme_path` can return the admin theme, so we might want to use
`drupal_get_path('theme', 'kalatheme');`

but I am guessing that https://api.drupal.org/api/drupal/includes%21file.inc/function/drupal_realpath/7
may have been used in this instance in order to resolve symlinks, but I do not recall and would defer to pret

[2015-09-15 04:22] andrewmallis commented on #105
The code we want to run seems like a cache clear, but clearing that cache
https://www.drupal.org/node/223463

. Maybe we can't do that with the theme, but can point to the Administer > Site configuration > Performance page.

It would be OK to pre_process all pages, but only if we [theme_status_messages](https://api.drupal.org/api/drupal/includes%21theme.inc/function/theme_status_messages/7) that t

[2015-09-15 04:33] andrewmallis commented on #105
Storing a var and checking the theme .info file depends on the caches being cleared initially, since the theme .info will be cached… so catch 22.

The code we want to run is
[drupal_theme_rebuild](https://api.drupal.org/api/drupal/includes%21theme.inc/function/drupal_theme_rebuild/7), yes? I do not think we can fire it in the hook_theme scope…

There is some aged convo here, but still relevant it

[2015-09-15 12:46] labboy0276 commented on #105
No @andrewmallis you basically responded like I did.  The issue at hand is different, we need to be able to tell if the theme has been updated.  @madeofpeople suggested that we check after the theme registry was cleared, but I don;t think that will matter.

I think what you proposed @soniktrooth is about as close as we need to get this issue to win.  If you read through some of this:  https://www.

[2015-09-15 15:03] thiagodemellobueno commented on #105
Well josh generally figured out how to detect if it's been update, now he's looking for a way to perhaps not have the check run every pageload, but instead hook onto something more specific to avoid running it on every preprocess page (since it will only be relevant .01 % of the time).

I was just asking if there was perhaps some other hook that definitely gets run post theme update (like say cach

[2015-09-15 15:14] labboy0276 commented on #105
Also, there could be another way instead of doing it on preprocess page is what I be trying to say.  I know most of the fancy hook_update api callz are for modules only, but there has to be something similar for themes.  Just need to dig through the theme api here:

https://api.drupal.org/api/drupal/includes%21theme.inc/function/theme/7

maybe some of the engine calls or something.  Maybe rethunk

[2015-09-15 16:59] soniktrooth commented on #204
`drupal_get_path()` returns a path relative to drupal root, whereas `drupal_realpath()` returns an absolute path, which I'm assuming is what `is_writable()` needs.

Regardless of that, my query is more about why we're checking the `modules` dir instead of the `themes` dir which is where—as you said—the subtheme should be written to.

[2015-09-15 17:21] soniktrooth commented on #105
@labboy0276 https://www.drupal.org/node/2422053 this link is just about the hacked module. Did you mean to post a different one?

[2015-09-15 17:40] labboy0276 commented on #105
It basically tells you in some shape or form to look at said modules to see how they check for updates, etc.  I don't think it really applies to themes, but trying to get us to think out of the box.  I was thinking of just adding our own API that mimics the hook_update_N calls for the theme or something along those lines....

[2015-09-15 20:49] soniktrooth commented on #105
@andrewmallis The code I was proposing was literally checking the .info file—not the theme registry—and then comparing it to a `kalatheme_version` varible that would be implemented by us so cache clearing doesn't really come into it.

It has me thinking though. If we implement the `kalatheme_version` variable to store the current version of the theme as stored in the theme registry then it will be

[2015-09-15 21:50] andrewmallis commented on #105
Variables can't then be removed once set this way; there is no uninstall hook in a theme. Themes store theme settings in the registry instead,

To be clear, we are particularly trying to improve the upgrade path beyond rc2.
Release notes do immediately solve this problem!

It is fair to advise a cache clear / submission of theme form.

The theme setting name has changed. We could do something to r

[2015-09-15 23:04] soniktrooth commented on #105
@andrewmallis is right—pragmatism wins here. I will update the release notes and project page

[2015-09-16 21:37] RobLoach commented on #204
Writing to a subtheme directory seems strange too.  The [Libraries module](https://www.drupal.org/project/libraries) has libraries_get_path(), which can be a nice wrapper around the path/library discovery. We could transition from having our custom implementation to using something like that.

[2015-09-16 21:51] RobLoach commented on #204
Looks like part of that is to update KalaTheme itself, which seems like it would be something for either Drush, or Update module to take on. Any reason for this to be there at all?

[2015-09-16 21:52] RobLoach commented on #189
Bootstap 4 has some accessibility built in.

[2015-09-16 23:11] soniktrooth commented on #204
@RobLoach KT has to be able to write to the themes dir in order to generate a sub theme. Are you suggesting this is insecure as well? I haven't really explored the drush integration in KT but the functionality to generate a sub theme exists in the config. I don't have experience with the implementing the update module—are we able to get around any security implications by using it?

[2015-09-17 03:47] andrewmallis commented on #204
I too am confused why we are checking `sites/all/modules` vs `sites/all/themes`. But again, we should instead check the location of kalatheme, because multisites would have a pattern instead like `sites/mysite.com/themes/` or who knows `sites/mysite.com/themes/contrib/` (UCSF stack does this).

I have updated the issue description to better reflect our goals.

To address some other notions raised

[2015-09-17 03:50] andrewmallis commented on #203
https://github.com/drupalprojects/kalatheme/wiki/Using-custom-Bootstrap-Libraries

[2015-09-17 04:03] andrewmallis commented on #123
I don't believe a theme can enable/disable modules…

Declaring update module as a dependency is poor form; it is a memory hog on production during each cron run.

The help text message in #205 addresses what I believe the scope of this issue, which I have retitled.

The wiki page has also been updated.

Moving this to QA

[2015-09-17 16:54] UTANdev opened #206 "Unsetting panopoly-modal.css removes 2-column layout (settings, preview) -- on purpose?"
kalatheme_css_alter() removes panopoly-modal.css, presumably for good reasons. (Your comment says "Remove conflicting CSS.") One side effect: Panopoly's lovely 2-column modal layout is lost. (Settings on the left, preview on the right.) The result is clumsy: users have to scroll an indeterminate amount to get to the settings; they also can't see both settings and preview at the same time, which ce

[2015-09-17 20:51] soniktrooth commented on #204
I'm on board with switching to using `libraries_get_path()`. I'd still like to hear from @pirog to see if he had any context on why `is_writable(drupal_realpath('sites/all/modules'))` was needed instead of `is_writable(drupal_realpath('sites/all/themes'))`

[2015-09-18 00:46] andrewmallis commented on #206
Which version of kalatheme are you on?
Is can you possibly post a screenshot of the behaviour you mention?

[2015-09-22 18:53] soniktrooth opened #208 "Views row class"
Seriously, why does this code exist? I've had to remove it or override it from every Kalatheme site I've worked on.

[code]

This is adding a `row` class to every View that is using the list display, however in every case I've come across there is already a `row` wrapping the view and it makes things hang out in the margins.

I can see it being useful in some very specific use cases but it seems a

[2015-09-22 18:54] pirog commented on #208
@soniktrooth NFI.

PURGE!

[2015-09-22 18:55] soniktrooth commented on #208
I will burn it with fire.

[2015-09-22 18:55] labboy0276 commented on #208
thank goodness

[2015-09-22 18:56] pirog commented on #208
the purest death is one by fire

[2015-09-22 21:05] UTANdev commented on #202
I have decided to follow your advice and go with the flow — create some new Panels layouts to manage my sidebar in the same way as the content area. In the process, I came up with a nifty way to quickly generate sidebar-enabled versions of all Radix layouts.

I will share my results with the community when done, giving developers an alternative to Radix for sites with a more traditional layout, i.

[2015-09-22 21:12] #167 closed

[2015-09-22 21:29] andrewmallis commented on #23
@RobLoach not urgent, but we have been talking around this issue some. Would like your thoughts.

[2015-09-22 21:32] andrewmallis commented on #138
this will come up again in a more defined form. closing for now.

[2015-09-22 21:47] andrewmallis commented on #109
The approach in 4.x to sass is deprecated.
We are currently working on a whole new approach that will be documented and more integrated and intuitive.

[2015-09-22 21:47] #109 closed

[2015-09-22 21:55] #54 closed

[2015-09-22 22:24] soniktrooth commented on #140
Much more modern versions of jquery are usable now due to updates to jquery_update and panopoly. I'm going to assume this one is fixed.

[2015-09-22 22:24] #140 closed

[2015-09-22 22:47] soniktrooth commented on #136
#143 was closed in favour of this one.

[2015-09-22 22:58] soniktrooth commented on #200
@RobLoach no, I think the styling for `form-control` is from bootstrap and as part of the BS integration we're adding the class to various form inputs. In the case of textareas the class is getting the class on a wrapper div instead of on the textarea element.

[2015-09-22 23:10] soniktrooth commented on #172
@npoku Are you able to look at your logs or turn on error reporting and tell us what the actual error is that is causing the WSOD?

[2015-09-22 23:12] soniktrooth commented on #38
Most common pattern I come across is in the header.

[2015-09-22 23:27] npoku commented on #172
@soniktrooth Sure, I'll see if I can recreate this problem. I maneuvered around it cautiously (aka ignored it and moved on). But I'll actually like to the bug and find a solution for it.

[2015-09-24 05:38] zanami opened #209 "Theme depends on list.module"
Here in [theme-settings.php](https://github.com/drupalprojects/kalatheme/blob/767da8045bc9a7691e3b80333306f935fbbcd1ba/theme-settings.php#L119)

and List is not enabled in some cases, so list_allowed_values_setting_validate() doesn't exist

[2015-09-26 02:41] andrewmallis commented on #209
Would listing list in the readme as a requirement suffice @zanami ?
Getting the style plugin to fail gracefully without it would take some work.

[2015-09-27 06:02] zanami commented on #209
It's up to you I just wanted to report what I've found out the hard way.

сб, 26 сент. 2015 г. в 12:41, Andrew_Mallis notifications@github.com:

[2015-09-28 15:31] npoku commented on #172
@soniktrooth I tried several times over the weekend turned on error reporting and looked at my logs. The system doesn't seem to be reporting it as an error at all. Nothing. Zip. Zilch. But I still get a WSOD. So weird. I reverted back to using numbered columns (i.e. col-md-4, etc).

[2015-09-30 17:47] soniktrooth commented on #209
Sounds like a quick win @andrewmallis. List is on by default and I can't think of too many reasons that it would need to be off.

[2015-09-30 18:33] soniktrooth commented on #203
@andrewmallis I'm not seeing anything in the docs regarding the issue. It seems to me that the the forms for adding a custom library shouldn't exist on a subtheme settings page.

[2015-10-05 07:57] zanami opened #211 "Array union instead of array_merge in menu.inc (the navbar part)"
Array + array here does nothing if the first array isn't empty (and it's not actually)

$link['#options']['attributes']['class'] += array("dropdown-toggle");

[menu.inc](https://github.com/drupalprojects/kalatheme/blob/767da8045bc9a7691e3b80333306f935fbbcd1ba/includes/menu.inc#L126)

[PHP Array Operators](http://php.net/manual/en/language.operators.array.php)

Some other places with Array += Array

[2015-10-08 18:18] andrewmallis commented on #196
Let's point
http://kalatheme.kalamuna.com
to TEST instead and get that up to date

[2015-10-08 20:14] andrewmallis commented on #196
cloned DEV > TEST > LIVE and all these are up to date.
Pointed kalatheme.kalamuna.com to the LIVE environment.

This will ease our updating of the core, and merging of multidevs

[2015-10-09 02:45] andrewmallis commented on #196
@RobLoach + @soniktrooth
I have created some DNS entries to help us out:

http://dev.kalatheme.kalamuna.com
http://test.kalatheme.kalamuna.com
http://kalatheme.kalamuna.com

[2015-10-09 02:46] andrewmallis commented on #196
@soniktrooth DEV is looking OK, but the logo is not there when compared against LIVE.

[2015-10-09 02:49] andrewmallis commented on #196
once we get that together, please sync DEV > TEST and assign to @labboy0276 to kick the tires on the baseline.

Seeing strange indents on sidebar headings on DEV too. Known issue? New issue?

[2015-10-09 20:01] RobLoach commented on #196
I've seen a few CSS regressions. Does the latest 3.x KalaTheme have any known CSS conflicts with the latest version of Panopoly? @soniktrooth may know more.

[2015-10-09 20:17] soniktrooth commented on #196
I've had similar reports coming in from HSU and I'm 99% sure it relates to https://github.com/drupalprojects/kalatheme/issues/208 whereby it's actually the Views content sticking out into the margin, rather than the heading being indented.

[2015-10-12 19:23] andrewmallis commented on #208
pull request @soniktrooth ?

[2015-10-13 18:57] andrewmallis commented on #196
feels like we are close, here. Maybe just a log in and reset the logo on the theme admin page?
Site name change to "Kalatheme Demo" would be good.
Perhaps we should put this in settings.php for this project.

[2015-10-14 16:32] UTANdev commented on #206
I'm using 7.x-3.1. Here's a screenshot:
![toto](https://cloud.githubusercontent.com/assets/908938/10490476/49e0aba2-726f-11e5-8cbe-f4bf527c864a.png)

[2015-10-14 17:35] soniktrooth commented on #206
@UTANdev I believe this is by design. The preview is full width on purpose. Obviously this makes less sense for small pieces of content like in your example but for lots of other previews with more content it makes sense.

[2015-10-14 17:47] soniktrooth commented on #208
@andrewmallis ^^

[2015-10-14 17:56] andrewmallis commented on #208
:+1:

[2015-10-14 17:59] soniktrooth commented on #196
As part of this I'd like to discuss a local workflow where we're able to change and test things for Kalatheme (and Kalastatic) within this environment but also be able to commit back to their canonical repos easily. I know people don't like git submodules but what are our other options here? Symlinks? Hardlinks? It would be good to come up with some docs for this to make it easier for others to ge

[2015-10-14 18:44] UTANdev commented on #206
I would argue that more content actually makes the full-width preview more inconvenient. (I had to search for a small piece of content to display in the screenshot.) In most cases, the preview takes up the entire modal (and more), forcing users to scroll down every. single. time. they need to change a setting; vanilla Panopoly places the preview in the modal's right half, which allows users to see

[2015-10-14 22:19] soniktrooth commented on #196
After discussing with @RobLoach and @madeofpeople I have addressed this with a .gitignore in sites/all/themes with the following code:

[code]

With this in place I was able to checkout both Kalatheme and Kalastatic git repos inside the testbed and have changes be seen by the testbed repo and the project repos.

I suggest y'all do the same.

[2015-10-14 23:00] andrewmallis commented on #196
wikify @soniktrooth ?

[2015-10-14 23:20] soniktrooth commented on #196
Yarp: https://github.com/drupalprojects/kalatheme/wiki/Kalatheme-Testbed

[2015-10-14 23:25] soniktrooth commented on #196
And just for reference—same but different on Kalastatic: https://github.com/kalamuna/kalastatic/wiki/Kalastatic-Testbed

[2015-10-14 23:33] soniktrooth commented on #206
It's been this way since I've been using Kalatheme so I wasn't involved in the decision to remove panoply-modal.css and I can't really speak to any 'gotchas'. I think it would be fairly safe to include that bit of css that you posted in your sub theme as a start.

@pirog Do you have any context on this?

[2015-10-14 23:34] andrewmallis commented on #206
As `panopoly-modal.css` states:

which is true if your theme is Bartik. Otherwise, not so consistent.

There are some usability focused declarations like what you mention above, and

[code]

but generally, there is a ton of stuff in that css file that un-boostrapifies the UI.

I have retitled the issue to more accurately reflect a possible resolution.

There should be no gotcha to reinstate in you

[2015-10-16 21:49] soniktrooth commented on #208
#212 wasn't enough—we need to remove the views-view.tpl as well

[2015-10-16 22:59] andrewmallis commented on #208
Well, what are you waiting for @soniktrooth an invitation?
Seriously, though, good eye.

[2015-10-16 23:09] soniktrooth commented on #208
Just an opportunity—I found this in the middle of something else so I was just commenting so I wouldn’t forget.

[2015-10-27 23:58] pirog commented on #204
So i _think_ `kalatheme_lib_dir()` exists for the following reasons
1. To handle the case where `sites/all/libraries` doesn't exist yet. In which case i think we create it. This is predicated on the assumption that panopoly is not a dependency but only panels, libraries and some other things. If you assume panopoly is a dep then you should be good just checking for `s/a/libs`
2. `libraries_get_pat

[2015-10-28 00:06] soniktrooth commented on #203
I've played with this a bit more and the UI is confusing. In order to use a custom or third party theme as listed in the drop down you have to build a custom subtheme by checking the checkbox in the other fieldset. I'm thinking this drop down should be in the fieldset below and only show when the 'build and enable custom subtheme' checkbox is checked—along with the others. We probably still need a

[2015-10-28 17:29] soniktrooth commented on #204
This does help @pirog—thanks. You are right about `libraries_get_path` it only returns the path to a specific library and upon further inspection I've found that the library module is actually happy for libraries to exist in multiple locations like modules and themes (see [libraries_get_libraries()](http://www.drupalcontrib.org/api/drupal/contributions%21libraries%21libraries.module/function/libra

[2015-10-28 17:33] pirog commented on #204
@soniktrooth these all seem like very solid improvements!

[2015-10-30 17:12] soniktrooth commented on #105
Project page and release notes have been updated:
https://www.drupal.org/node/2511536
https://www.drupal.org/project/kalatheme

[2015-10-30 17:17] soniktrooth commented on #145
4.x has been removed from the project page because we're not moving in that direction anymore

[2015-10-30 20:28] soniktrooth commented on #119
We are already requiring the update module inside of `kalatheme_backend_check()` and the subtheme form generation is dependant on the return of that function. So I think that covers that part of this issue.

The comment I added is a separate issue: "When trying to generate a sub theme nothing happens unless kalatheme is selected as the admin theme."

[2015-10-30 20:56] soniktrooth opened #215 "Subtheme generation requires kalatheme to be default theme"
When trying to generate a sub theme nothing happens unless kalatheme is selected as the admin theme. I have tracked it down to the following code inside of kalatheme_prepare_config_form() :

[code]

The 'Build and enable a custom subtheme' checkbox is ajaxified and checking it rebuilds the form.
- When Kalatheme is default theme  `kalatheme_prepare_config_form` is run twice, first time `$form['#su

[2015-10-30 22:16] soniktrooth commented on #215
Ok, so I think the root of this problem is here: https://www.drupal.org/node/943212

`system_theme_settings()` manually calls theme specific settings form alters for all themes:

[code]

 However if the currently enabled theme implements a `$theme . '_form_system_theme_settings_alter'`then it will get called again via the regular form_alter flow.

So the first time through this gets called by `sys

[2015-10-30 23:00] soniktrooth commented on #215
@pirog—sorry to keep pinging you on these things but I wouldn't mind your eyes on the above PR to see if I'm overlooking something.

The if statement that I removed was very specific, however, I assuming that it was to suppress errors due to the fact that sometimes #submit didn't exist and we didn't want to add our callbacks twice because the function was running twice.

@pirog if you can confirm

[2015-10-31 17:10] pirog commented on #215
@soniktrooth

I _think_ the reason we had this check was that sometimes `kalatheme_custom_bootstrap_library_submit` and `kalatheme_custom_bootstrap_library_validate` would end up being added to `#submit/#validate` twice.

Could dedupe the arrays further down with `array_unique`? This function is generally pretty costly at scale but i think on the order of magnitude of submit and validate arrays it

[2015-11-02 21:13] soniktrooth commented on #215
@pirog That's good because I think I got to the bottom of why those callbacks were being added twice. See my comment above for full details but basically `system_theme_settings()` calls `$theme . '_form_system_theme_settings_alter'` manually and it ends up getting called again by the normal form_alter flow when loading the theme settings form for the currently enabled theme. In light of all of tha

[2015-11-03 18:22] soniktrooth commented on #168
@solipsist I'm going to close this issue as I don't' believe it's a problem as of 3.1. Feel free to repoen if you find this isn't the case.

[2015-11-03 18:28] soniktrooth opened #217 "Close icon disappears"
This happens only on node edit pages. IPE and views overlays seem fine.

<img width="926" alt="screen shot 2015-11-03 at 10 19 40 am" src="https://cloud.githubusercontent.com/assets/597617/10917313/f80156aa-8214-11e5-8dfc-6d641283cc98.png">

[2015-11-03 19:32] soniktrooth commented on #217
It comes down to the fact that the markup is different:

[code]

vs

[code]

And I think it comes down to this piece of code from jquery.ui.dialog.js:

[code]

[2015-11-03 19:57] soniktrooth commented on #217
I think this is a name space clash. Both Bootstrap and jQuery UI have a .button() method. Removing BS from the page lets the code in jquery.ui.dialog.js run properly and gives us the correct markup.

[2015-11-03 20:00] andrewmallis commented on #217
See https://www.drupal.org/node/2525208

[2015-11-03 20:44] soniktrooth commented on #217
@andrewmallis I don't believe that's the same issue. Some little css tweaks fixed their problem but ours is that the markup is completely different—and it's the .button() method that is adding the required markup.

[2015-11-03 22:38] soniktrooth commented on #217
Here are some options:

We could use the widget bridge included in jQuery UI as outlined here: http://www.ryadel.com/en/using-jquery-ui-bootstrap-togheter-web-page/ however we have no control over how it's called in Panopoly so I don't think this will work.

So I'm leaning towards this:

[code]

This will mean that any time we want to use the button method from BS we use .btn() instead. Not great

[2015-11-03 23:59] andrewmallis commented on #217
@soniktrooth I'd like if we can keep the issue descriptions more focused on the problem that is exhibited, as this will help users with the same problem identify the the issue.

[2015-11-04 00:06] andrewmallis commented on #217
I am not excited to break the documented bootstrap pattern in principal. I lack js fluency to propose anything concrete, but perhaps @RobLoach may be of assistance here.

I do recall in the vestigial 4.x branch we managed to replace the modals with BS modals straight up. Please see SHA 56445481

Also, please see this issue: https://www.drupal.org/node/2546874
which I believe is related, and does b

[2015-11-04 00:14] soniktrooth commented on #217
I'm not excited about changing the documented BS patterns either but there's not a lot of options for two libraries to co-exist. Ultimately, replacing jQueryUI modals with BS modals would be ideal, and we'd have to look at tooltips too and investigate if there are any other namespace collisions to address.

I will look into the radix solution you linked to—if we can fix this with js file ordering

[2015-11-04 22:07] RobLoach opened #218 "Drop Down Menus"
Saw some clean up in the markup, and warnings about localization PHP array variables. Put this together for Greenbiz.com
https://github.com/kalamuna/greenbiz.com/pull/118

[2015-11-05 21:36] soniktrooth commented on #218
@RobLoach as per https://github.com/kalamuna/greenbiz.com/pull/118#issuecomment-154200067 I don't think this is an issue anymore.

[2015-11-05 21:36] #218 closed

[2015-11-05 22:27] Iceabenezer commented on #163
@tomosaigon Yep! Just tried this again on a new install and it still happened. I will try the 3.x branch

[2015-11-05 22:29] Iceabenezer commented on #163
Never mind. I was using the 3.1 release

[2015-11-05 22:31] #163 closed

[2015-11-06 18:30] soniktrooth commented on #211
@zanami I agree with the logic here but are you seeing a specific instance where `$link['#options']['attributes']['class']` is empty? Is it throwing an error or a break in functionality that you can describe?

[2015-11-06 18:34] soniktrooth commented on #33
The issue this one sites as a problem is closed so I think this is too.

[2015-11-06 18:34] #33 closed

[2015-11-06 18:37] soniktrooth commented on #142
@tolusonaike This is expected behaviour from our end. Please reopen if there's something particular that is causing an issue and we can investigate

[2015-11-06 18:37] #142 closed

[2015-11-06 19:37] soniktrooth commented on #203
I've been toying with this a little and I feel like this is going to be a lot of work (read testing) to move the drop down. I think a temporary fix for this would be adding something to the description under the dropdown. Putting together a PR with this approach so that this issue can be satisfied.

[2015-11-09 19:14] andrewmallis commented on #202
@UTANdev – any news on your approach?

[2015-11-09 19:30] soniktrooth opened #221 "Automated testing"
We should add simpletests and use Travis to make sure all the things work.

[2015-11-09 19:39] andrewmallis commented on #221
Since we're on hubdrop, we might need to decouple ourselves from that project, but d.o. will run simpletests.

[2015-11-09 19:44] andrewmallis opened #222 "support use of sass in kalatheme"
in 4.x we had a clearer direction with sass.
Kaltheme has a bunch of CSS only right now.

Theming with sass in kalatheme is totally possible, and we have pointed to [kalagrunt](https://github.com/kalamuna/kalagrunt) as our drop-in solution.

We should document in the context of kalatheme how to integrate with that project.
We can contemplate in the subtheme generation via drush a flag to sass enab

[2015-11-09 19:49] RobLoach commented on #215
https://github.com/drupalprojects/kalatheme/blob/7.x-3.x/includes/utils.inc#L140-L167

[2015-11-09 19:57] andrewmallis commented on #146
as part of this, [Responsive Toggling](https://github.com/drupalprojects/kalatheme/wiki/Responsive-Toggling) wiki page should be updated.

[2015-11-09 20:15] andrewmallis commented on #203
I don't think we want to support this feature.
The UX improvements you propose @soniktrooth seem more appropriate to me, and should be the subject of a new and more focused issue. Once that issue exists, we can resolve this one.

[2015-11-09 20:20] soniktrooth opened #223 "Move 'Select a Bootstrap library' drop down"
Adding a custom or bootswatch library can only happen when building a new subtheme. Therefore we should move 'Select a Bootstrap library' drop down into 'Build and enable a custom subtheme' fieldset.

We still need a drop down up the top to allow a user to select 'default' (vanilla bootstrap) or 'none' (no bootstrap, for when brought in with SASS etc) or 'XXXXX' (the Bootswatch library that the cu

[2015-11-09 20:32] andrewmallis opened #224 "Automated builds"
Committing to githhub via Travis should deploy to our Pantheon test bed, as we do for other projects. We want to commit all of kalatheme into the stack in sites/all/themes/kalatheme, but continue to maintain the Pantheon build separately.

We'll need to adjust our docs:
https://github.com/drupalprojects/kalatheme/wiki/Kalatheme-Testbed

### reference
https://kalamuna.atlassian.net/wiki/display/KAL

[2015-11-09 20:37] andrewmallis commented on #189
Does BS4 this make the plugin irrelevant @RobLoach ?

[2015-11-09 20:41] andrewmallis opened #225 "Evaluate Boostrap 4"
Evaluate Bootstrap 4
http://blog.getbootstrap.com/2015/08/19/bootstrap-4-alpha

- LESS > SASS
- Improved grid system
- Dropped wells, thumbnails, and panels for cards
- Dropped IE8 support and moved to rem and em units

goal is to report back on roadmap, blockers, or areas of focus.

[2015-11-09 20:42] andrewmallis commented on #225
note this is currently alpha, so some sense of what might still change on release, and when that will drop would be useful.

[2015-11-09 20:43] soniktrooth commented on #225
This post has some extra comparative goodness: https://scotch.io/bar-talk/whats-new-in-bootstrap-4

[2015-11-11 17:38] UTANdev commented on #202
I had to leave this project aside for a while, but here's my plan:

_Requirements_
1. Most pages will include a standard ¼ site sidebar; all Radix layouts will be available for the ¾ main content area.
2. Some pages will have no standard site sidebar; on those, the content area will fill the entire container width.

_Approach_
- To let the client choose whether a page should have the standard site

[2015-11-11 18:14] UTANdev opened #226 "Kalatheme breaks Panopoly Magic's "single" Add Content preview option"
It seems that vanilla Kalatheme breaks one of vanilla Panopoly Magic's preview options.

Five months ago, "[https://www.drupal.org/node/2155377](Only show one widget preview at a time when adding content in panels)" was committed. It adds a new "Single" option to Panopoly Magic's "Enable previews when adding panes" setting — selecting an Add Existing Content widget category will show a list of wid

[2015-11-11 18:49] UTANdev opened #227 "Kalatheme breaks conditional visibility of Add Content Item options fieldsets"
I have found another way in which vanilla Kalatheme breaks vanilla Panopoly.

When adding an Add Content Item widget, you have a choice of Fields, Content, or Table as Display Types. Depending on your choice, the appropriate Settings controls will appear or disappear:

- Fields: show the Field Settings fieldset
- Content: show the Content Settings fieldset
- Table: show the Column Header dropdown

[2015-11-12 18:00] soniktrooth commented on #203
#223 Addresses the UX improvements

[2015-11-12 18:00] #203 closed

[2015-11-17 04:43] andrewmallis commented on #196
Kalatheme test bed is running
7.x-3.0-rc3 instead of 7.x-3.1
so firing up an issue for that.

Noticed the Panopoly Demo app is also behind

[2015-11-17 04:54] andrewmallis opened #228 "update kalalheme to 3.1 on testbed"
kalatheme on the testbed is rc3

created an update branch, that also includes latest panopoly:
https://dashboard.getpantheon.com/sites/22721f55-ed10-b5ac-2ec0-17916daff0b9#update/code

### QA
http://update-kalatheme.at.kalamuna.com/admin/reports/updates

[2015-11-17 04:55] andrewmallis opened #229 "update Panopoly Demo on test bed"
Panopoly demo is far behind; let's get the app up to date

created an update branch, that also includes latest panopoly:
https://dashboard.getpantheon.com/sites/22721f55-ed10-b5ac-2ec0-17916daff0b9#update/code

QA

http://update-kalatheme.at.kalamuna.com/admin/reports/updates

[2015-11-17 21:27] Francewhoa opened #230 "Host project and documentation on drupal.org"
Hi there project maintainer(s) :)

Our team is currently evaluating the possibility of making a large investment in time and energy into Kalatheme. Mostly in form of free contributions, such as suggested patches, and documentation.

But the main blocker we're facing is that Kalatheme project, documentation, and issues/tickets are currently hosted on Github :(

Github is owned by a Corporation. Com

[2015-11-17 21:30] Francewhoa commented on #230
![community_owned-corporation_owned-comparison-v02](https://cloud.githubusercontent.com/assets/119942/11225504/56d9513a-8d2f-11e5-8ac8-1837e5ff6781.png)

[2015-11-17 21:34] pirog commented on #230
1. Get better collab tools on drupal.org and sure
2. I think your analogy of the DA as the green fishes is fairly optimistic.

[2015-11-17 21:36] Francewhoa commented on #230
Hi all :) Here is the details version of what I mean by "community owned" versus "corporation owned" tools

Drupal.org forums first priority is to **serve you the users**. Github first priority is to **serve their shareholders by hoarding money for them**.

I suggest to Drupal users to consider using community **owned** tools instead of corporate **owned** tools. Because the first priority of comm

[2015-11-17 22:14] soniktrooth commented on #230
@Francewhoa Everyone here at Kalamuna is very aware of the differences between 'community owned' and 'corporation owned' and we are all big advocates of open source and the Drupal community. That being said—our choice to use Github is purely a pragmatic one. We chose to use Github so that we are able to collaborate more effectively, get more done and ultimately benefit the community to a greater d

[2015-11-17 22:27] Francewhoa commented on #230
Thanks for your reply Josh :) We understand that Kalamuna is not interested in hosting its project on the community owned drupal.org

Github is not a viable option for our contributions though. So for the benefit of all Drupal community users we will focus our time and energy on another project hosted on Drupal.org.

As you know that was just a suggestion for Kalamuna consideration and decision. N

[2015-11-17 22:37] soniktrooth commented on #230
We will, thanks @Francewhoa.

[2015-11-17 22:37] #230 closed

[2015-12-18 14:05] mrlch opened #231 "Bootstrap library lost"
All of my existing kalatheme-installations are with the same problem. The used bootstrap-library can no longer be found in the theme-setting. The rendering looks bad, is broken.

When I install kalatheme fresh on an test-site, I also didn't find any of the libraries. The same problem.

Bang from one Moment to the other.

It appears to me, like this problem appeared some time ago with the 3.0 relea

[2015-12-18 14:23] labboy0276 commented on #231
Hello

Can you tell us more about your setup.  What version of JQuery you are
running, can you send a screen shot of what it looks like.  Also versions
of panels, libraries and bootstrap you are using, etc.

On Fri, Dec 18, 2015 at 9:05 AM, mrlch notifications@github.com wrote:

##

_John Ouellet_
_Sr Developer & Support Manager_
415-470-3076
www.kalamuna.com

Stay connected with Kalamuna on: Twit

[2015-12-18 14:36] mrlch commented on #231
Yes, sure:
JQuery: various versions on different installations. 1.8, 1.7
Panels: 7.x-3.5
Libraries: 7.x-2.2
Bootstrap: 7.x-3.1

here some links and a screenshot:
https://telemark-vals.ch/
https://www.sanavals.ch
https://die-skischule.ch/

Thanks

![screen shot 2015-12-18 at 15 35 01](https://cloud.githubusercontent.com/assets/16351448/11899077/f317b6a6-a59c-11e5-9719-d7359dfd2d73.png)

[2015-12-18 14:52] mrlch commented on #231
And a screenshot of the empty bootstrap libraries field.

The problem occurs on web server and on my local installation.

<img width="495" alt="screen shot 2015-12-18 at 15 51 39" src="https://cloud.githubusercontent.com/assets/16351448/11899451/48caf1f6-a59f-11e5-9382-c8c7492a2380.png">

[2015-12-18 14:58] labboy0276 commented on #231
OK

Why are you using the bootstrap theme?  Did you mean 7.x-3.1 is the
Kalatheme version?

I do need the version of the Bootstrap libraries itself though.  If you go
into the sites/all/libraries and go into the bootstrap subtheme folder and
select the unminified version of the css or js, it has the version at the
top of the file.

On Fri, Dec 18, 2015 at 9:52 AM, mrlch notifications@github.com wr

[2015-12-18 15:07] ashzade commented on #231
We also have the same issue and our library folder is empty.

[2015-12-18 15:07] mrlch commented on #231
my library-folder is also empty.

yes, kalatheme 3.1

[2015-12-18 15:14] labboy0276 commented on #231
Well if sites/all/libraries is empty, then you wiped out the Bootstrap
libraries some how.  There is your problem.

I would do the following:
1. Go grab a fresh copy of Bootstrap: http://getbootstrap.com/customize/
2. Take that zip and put all 3 folders in
   sites/all/libraries/yourtheme_libraries
3. Go get https://www.drupal.org/project/jquery_update and get the
   7.x-3.0-alpha3 version
4. Chan

[2015-12-18 15:18] ashzade commented on #231
Thanks for the help. The site was working fine as of yesterday and this morning we have the error posted in by the OP.

When we installed the theme, it works out of the box. We didn't have to do anything related to the library. kalatheme_get_bootswatch_themes() is failing today.

We have been using version 7.x-3.1 of the theme and jQuery 1.10.

[2015-12-18 15:20] skurkee commented on #231
I also have the problem on 2 sites, and they broke without either one being touched. I had a pretty basic install, using Cosmo for my theme, and now they are not working.

[2015-12-18 15:24] mrlch commented on #231
I notice the problem also today. Yesterday everything was working fine.

I remember a similar Problem with kalatheme some month ago. The 3.0 Version made a similar failure. I was searching for the patch of this days. To get an indicator. But I didn't found it.

[2015-12-18 15:26] labboy0276 commented on #231
It seems so, I will let @soniktrooth know so we can push out an mergency patch or version or something.

[2015-12-18 15:27] mrlch commented on #231
thanks

[2015-12-18 15:27] amp9020 commented on #231
I also have the same issue as the poster.  I also have 2 sites without being touched.  Today they are not working and the behavior is the same as the poster.

[2015-12-18 15:27] ashzade commented on #231
Thank you for the quick responses btw!

[2015-12-18 15:28] amp9020 commented on #231
Same thing here, yesterday it was fine.  Today it went kaboom.

[2015-12-18 15:39] labboy0276 commented on #231
There is a pull request here that contains the fix:

https://github.com/drupalprojects/kalatheme/pull/232

[2015-12-18 15:40] labboy0276 commented on #231
If everyone here want to manually apply that in the interim, it should fix your issue

[2015-12-18 15:47] ashzade commented on #231
Thank you, confirmed that it fixes the issue.

[2015-12-18 15:48] amp9020 commented on #231
Thanks! Confirmed as well.

[2015-12-18 15:50] mrlch commented on #231
Thank you for this super fast solution. It works.

[2015-12-18 18:52] soniktrooth commented on #231
Thanks for the quick response here @labboy0276. This is the second time this year that bootswatch has changed their urls. We may need to look into a better solution.

[2015-12-21 15:42] amp9020 commented on #208
Hi, @soniktrooth , I'm receiving "Notice: Undefined variable: view_content_class in include() (line 55 of /sites/all/themes/kalatheme/templates/views/views-view.tpl.php) .  Is this related to this post? (I saw your comment on Oct 16).   For now can I remove line 55 manually or define a blank variable?

Thanks,

[2015-12-21 17:44] soniktrooth commented on #208
@amp9020 Sorry about this one—I haven't had a chance to get back to this. You can, in fact, remove the views-view.tpl.php entirely because the only customization that Kalatheme makes is the adding of that variable, which is now, of course, undefined.

[2015-12-21 17:51] amp9020 commented on #208
@soniktrooth Even better to remove the file.  That worked.  Cheers!  Thanks, no more messages about that in watchdog ^_^

[2016-01-06 14:42] labboy0276 opened #233 "Features Checkboxes aligned wrong"
I thought we fixed this, but the features checkboxes are hovering over the label again:

![screenshot_2016-01-06_09-41-12](https://cloud.githubusercontent.com/assets/5560907/12145032/bb6d6edc-b459-11e5-9cac-fc45c84383d0.png)

Will do a PR in a second

[2016-01-06 14:46] labboy0276 commented on #233
https://github.com/drupalprojects/kalatheme/pull/234

[2016-01-06 19:49] soniktrooth commented on #233
I thought this was put to bed as well, but alas. I adjusted the line height a bit as well so that the checkboxes line up with the labels as well as a fix for the features listing page as well.

#235

[2016-01-18 19:37] astuhr commented on #185
Do we still need to install the Panapoly Theme module (and its radix layouts module dependency)? All of the Panapoly panels layouts are listed as deprecated (I assume to the radix ones) and the Radix Layouts module page indicates that radix is a part of Panapoly now, although I think they are talking about the distro. I am getting some errors when using the responsive Panels layouts and wonder if

[2016-01-18 19:53] labboy0276 commented on #185
Hello,

You don't need Radix or Panopoly to use Kalatheme.

On a vanilla install you will need these modules to get this to work:
JQuery Update
Panels
Libraries
Ctools
Views (Optional)

I have a site that has just those installed with Kalatheme and it works gloriously.

[2016-01-19 04:07] labboy0276 opened #236 "Element-invisible tag"
Element-invisible tag is causing false padding now.  Change out all the codes to use the bootstrap equivalent which is sr-only .

[2016-01-27 19:15] soniktrooth opened #238 "Breakpoint visualizer"
I recently did this on a project to help when developing which breakpoint I'm looking at. It's super handy and I think we could roll it in.

This was also suggested for adding to Kalastatic so we need to watch we don't step on each others toes for when Kalatheme and Kalastatic both exist in a project but I think this could be implemented with a handy little theme setting toggle.

[code]

![breakpo

[2016-01-29 22:16] soniktrooth opened #239 "Checkboxes and radios"
I'm opening this issue to track all the things that have happened in the scope of trying to fix the checkboxes and radio buttons.

The following PRs have attempted to fix this:
#207
#235
#233

None of these solved the root of the problem—the main issue being checkboxes inside tables.

Bootstrap adds the following:
[code]
Which is fine for forms but Drupal has a lot of table/form matrix thingys lik

[2016-01-29 22:42] soniktrooth commented on #239
OK, closing all the other checkbox PRs so we can concentrate here.

[2016-02-04 06:02] andrewmallis commented on #238
well, we are not using sass at all, so would need refactoring.
Kalatheme breakpoints mantra is more like kalacustomize -> mobile, tablet, screen
I've seen other themes with grid toggles and this can be useful.
In our current process, though, it does seem that kalastatic is the place to get crafty like this, unless there was popular demand for this feature.

[2016-02-04 06:06] soniktrooth commented on #238
Refactoring is easy.

I kinda think this is something we'd get used to relying on in Kalastatic and then miss it when working on a Kalatheme site that didn't have Kalastatic in the mix.

There's no demand from the general populace but a positive vox pop on #dev-collab was enough for me to post this issue here.

[2016-02-10 20:34] t0b1hh commented on #209
just ran into the same problem as the list module was off.
would be nice if there would be a hint, that it is needed for this theme (e.g. in the requirements list on https://www.drupal.org/node/2167149 )

[2016-02-12 03:01] andrewmallis commented on #209
thanks for the link @t0b1hh –– @soniktrooth can you update these docs, please?

[2016-02-12 16:10] labboy0276 opened #241 "in .info old DO nonsense is in there"
Need to remove the DO packaging script, not sure how it stayed in there, but we havent been on rc3 in 8000 years

PR to follow.

[2016-02-12 16:13] labboy0276 commented on #241
https://github.com/drupalprojects/kalatheme/pull/242

[2016-02-22 21:48] UTANdev opened #244 ".clearfix on taxonomy reference field containers: why?"
In my site, I'm Panelizing the Event content type's Default display mode, outputting all the fields in a single column. (A site sidebar appears in the second column.) The fields are:

- Featured image
- Categories (taxonomy reference)
- Date
- etc.

with Featured Image using the "Half width" image style. (Like "Quarter width", but half the container width.) The result should be the typical layout

[2016-03-10 06:44] soniktrooth commented on #228
Pulled in Kalatheme 3.1 and there's been a bunch of movement on Panopoly so I pulled in 1.32 as well.

[2016-03-10 06:55] soniktrooth commented on #229
So there wasn't really any changes here—the version is just being incremented with Panopoly. I've updated it anyway—only changes were to .info and changlog.